<div class="main-div flex-center">
    <div class="header flex-center">
        <img src="../../../../assets/Iconos/app sepro vectores-30.png">
    </div>
    <div class="terms">
        <div class="title flex-center">TERMINOS Y CONDICIONES PARA USO DE LA APLICACION SEPROAMERICA</div>
        <div class="content flex-center">
            TÉRMINOS Y CONDICIONES PARA USO DE LA APLICACIÓN “SEPROAMERICA”

Reglamento de Uso de la Aplicación Móvil

El presente documento establece las condiciones mediante las cuales se regirá el uso de la aplicación móvil “SEPROAMERICA”, la cual es operada por el administrador de la aplicación

La aplicación funcionará como un nuevo canal para la realización de diversas actividades descritas más adelante con el objeto de facilitar el acceso a los usuarios. El usuario se compromete a leer los términos y condiciones aquí establecidos, previamente a la descarga de la aplicación, por tanto, en caso de realizar la instalación se entiende que cuenta con el conocimiento integral de este documento y la consecuente aceptación de la totalidad de sus estipulaciones.

El usuario reconoce que el ingreso de su información personal, y los datos que contiene la aplicación a su disposición respecto a los servicios activos registrados dentro de la aplicación, la realizan de manera voluntaria, quienes optan por acceder a esta aplicación en Ecuador o desde fuera del territorio nacional, lo hacen por iniciativa propia y son responsables del cumplimiento de las leyes locales, en la medida en que dichas leyes sean aplicables en su correspondiente país. Toda persona que acceda a la aplicación debe ser mayor de edad, en el evento en que no se cumpla esta condición, le agradecemos no hacer uso de la aplicación.

La aplicación requiere acceso a la cámara del dispositivo para poder escanear códigos y realizar otras funcionalidades. El usuario autoriza expresamente el acceso y uso de la cámara para los fines descritos.

Alcance y Uso

El usuario de la aplicación entiende y acepta que la información contenida en la misma es operada por el administrador de la aplicación SEPROAMERICA, la misma que será la referente a su vínculo comercial o contractual con cada usuario, por tanto, las funcionalidades ofrecidas por la aplicación serán entregadas con el objetivo vinculado a las necesidades del beneficiario.

En la aplicación se pondrá a disposición del CLIENTE información y/o permitirá la realización de las transacciones determinadas o habilitadas por SEPROAMERICA para cada producto y/o servicio en particular. SEPROAMERICA podrá adicionar, modificar o eliminar las funcionalidades en cualquier momento, lo cual acepta el usuario mediante la instalación de la aplicación. En todo caso, al momento de realizar dichas modificaciones se notificarán al usuario a través de la misma aplicación móvil una vez inicie sesión. Los tiempos de respuesta, trámites y demás solicitudes efectuadas por el usuario mediante la aplicación serán procesadas de conformidad con las especificaciones de cada producto y/o servicio activo con SEPROAMERICA. El usuario acepta y autoriza que los registros electrónicos de las actividades mencionadas, que realice en la aplicación constituyen plena prueba de los mismos.

Requisitos para uso

El usuario deberá contar con un dispositivo móvil inteligente (Smartphone) o Tableta con sistema operativo Android o IOS, cualquiera de estos con acceso a internet, ambos seguros y confiables. SEPROAMERICA no será responsable por la seguridad de los equipos Smartphone propiedad de los usuarios utilizados para el acceso al canal, ni por la disponibilidad del servicio en los dispositivos en los cuales se descargue la aplicación.

En la forma permitida por la ley, los materiales de la aplicación se suministran sin garantía de ningún género, expresa o implícita, incluyendo sin limitación las garantías de calidad satisfactoria, comerciabilidad, adecuación para un fin particular o no infracción, por tanto, SEPROAMERICA no garantiza el funcionamiento adecuado en los distintos sistemas operativos o dispositivos en los cuales se haga uso de la aplicación.

Para acceder al portal, EL CLIENTE contará con Usuario y Clave, que lo identifica en su relación con SEPROAMERICA.

Obligaciones de los usuarios

El usuario se obliga a usar la aplicación y los contenidos encontrados en ella de una manera diligente, correcta, lícita y en especial, se compromete a NO realizar las conductas descritas a continuación:

Utilizar los contenidos de forma, con fines o efectos contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público;
Reproducir, copiar, representar, utilizar, distribuir, transformar o modificar los contenidos de la aplicación, por cualquier procedimiento o sobre cualquier soporte, total o parcial, o permitir el acceso del público a través de cualquier modalidad de comunicación pública;
Utilizar los contenidos de cualquier manera que entrañen un riesgo de daño o inutilización de la aplicación o de los contenidos o de terceros;
Suprimir, eludir o manipular el derecho de autor y demás datos identificativos de los derechos de autor incorporados a los contenidos, así como los dispositivos técnicos de protección, o cualesquiera mecanismos de información que pudieren tener los contenidos;
Emplear los contenidos y, en particular, la información de cualquier clase obtenida a través de la aplicación para distribuir, transmitir, remitir, modificar, rehusar o reportar la publicidad o los contenidos de esta con fines de venta directa o con cualquier otra clase de finalidad comercial, mensajes no solicitados dirigidos a una pluralidad de personas con independencia de su finalidad, así como comercializar o divulgar de cualquier modo dicha información;
No permitir que terceros ajenos a usted usen la aplicación móvil con su clave;
Utilizar la aplicación y los contenidos con fines lícitos y/o ilícitos, contrarios a lo establecido en estos Términos y Condiciones, o al uso mismo de la aplicación, que sean lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar la aplicación y los contenidos o impedir la normal utilización o disfrute de esta y de los contenidos por parte de los usuarios.
Condiciones de Pago y Facturación

Las tarifas aplicables al Servicio serán recaudadas por SEPROAMERICA de forma automática, a través de los datos de la tarjeta de crédito / débito facilitado por el usuario, o efectivo u otros métodos acordados con el proveedor. Tras la petición del Servicio, SEPROAMERICA se reserva el derecho a solicitar la pre-autorización del cobro a la entidad de crédito vinculada a la tarjeta de crédito/débito que el usuario hubiera introducido en la Aplicación. Tras la petición del Servicio, SEPROAMERICA realizará el cobro efectivo del total del Servicio que vaya a requerirse.

Las tarifas cobradas podrán, previo análisis, ser reembolsables en los siguientes casos:

a) SEPROAMERICA hará por medio de acreditación bancaria al no darse el servicio en un plazo de 72 horas hábiles después de haber recibido y verificado la queja y que sea válido el reclamo;

b) En caso de requerir el servicio y pago con tarjeta de crédito y se desiste al día siguiente por 4 horas antes del servicio se cobrará una penalidad del 25%, si es pasado de las 24 horas antes del servicio se reintegra el valor total del mismo descontada la tarifa bancaria;

c) En caso de que el usuario no reciba el servicio por no encontrarse en el lugar indicado por casos de eventualidad o fuerza mayor y se pasó de la fecha y hora del servicio se realizará la devolución con una penalidad del 50%;

d) En caso de cobros duplicados se devolverá en plazo máximo de 72 horas hábiles toda vez que se verifique la duplicidad.

Las tarifas y los gastos de cancelación y compensación, así como sus actualizaciones, están disponibles en todo momento en la y están sujetas a modificaciones. Se recomienda al Usuario y al Proveedor de los servicios que acceda periódicamente a la Aplicación para conocer las tarifas aplicables en cada momento.

Los valores recaudados serán acreditados a los Proveedores de los Servicios, descontando el porcentaje establecido por el uso de los botones de pago y de la plataforma en caso de que aplique.

Los cargos realizados en tarjetas de crédito o débito se realizarán en todos los casos en dólares americanos (USD) o en la moneda de curso legal dentro de la República del Ecuador. SEPROAMERICA no es responsable frente al usuario por cargos adicionales provenientes de bancos, emisores de tarjetas de crédito/débito, impuestos o en general cualquier cargo que no esté directamente realizado por SEPROAMERICA y que se relacione con el uso del servicio.

SEPROAMERICA en ningún momento será responsable por cargos realizados en una tarjeta de crédito o débito que no cuenten con la autorización expresa del titular de la tarjeta. Para efectos del uso de la presente aplicación, SEPROAMERICA presume que todos los cargos son realizados únicamente por los titulares y/o tarjetahabientes autorizados.

El usuario declara conocer que los pagos realizados por objeto del servicio se realizan en el Ecuador pero podrían realizarse en el extranjero, en tal virtud los pagos realizados desde el Ecuador, con tarjetas de crédito/débito emitidas por bancos locales estarán sujetas al pago de cualquier valor adicional que la legislación vigente establezca. En ningún momento SEPROAMERICA será responsable de asumir estos costos o será responsable por los tributos que correspondan a cada usuario.

Licencia para copiar para uso personal

Usted podrá leer, visualizar, imprimir y descargar el material de sus productos y/o servicios. Ninguna parte de la aplicación podrá ser reproducida o transmitida o almacenada en otro sitio web o en otra forma de sistema de recuperación electrónico.

Ya sea que se reconozca específicamente o no, las marcas comerciales, las marcas de servicio y los logos visualizados en esta aplicación pertenecen al administrador de la aplicación SEPROAMERICA, sus socios promocionales u otros terceros.

SEPROAMERICA no interfiere, no toma decisiones, ni garantiza las relaciones que los usuarios lleguen a sostener o las vinculaciones con terceros que pauten y/o promocionen sus productos y servicios. Estas marcas de terceros se utilizan solamente para identificar los productos y servicios de sus respectivos propietarios y el patrocinio o el aval por parte de SEPROAMERICA no se deben inferir con el uso de estas marcas comerciales.

Integración con otras aplicaciones

Los links de Facebook®, Instagram®, Twitter® en esta aplicación pueden mostrar contenido que no están bajo el control de SEPROAMERICA. Aunque esta aplicación de SEPROAMERICA trata de suministrar links solamente a sitios y aplicaciones de terceros que cumplan con las leyes y regulaciones aplicables y las normas de SEPROAMERICA, el usuario debe entender que SEPROAMERICA no tiene control sobre la naturaleza y el contenido de esos sitios y no está recomendando estos sitios, la información que contienen ni los productos o servicios de terceros.

SEPROAMERICA no acepta responsabilidad por el contenido del sitio de un tercero con el cual existe un link de hipertexto y no ofrece garantía (explícita o implícita) en cuanto al contenido de la información en esos sitios, ya que no recomienda estos sitios. Usted debe verificar las secciones de términos y condiciones, política legal y de privacidad de algunos otros sitios de SEPROAMERICA o de un tercero con los cuales se enlaza.

SEPROAMERICA no asume ninguna responsabilidad por pérdida directa, indirecta o consecuencial por el uso de un sitio de un tercero.

Uso de información y privacidad

Con la descarga de la APP usted acepta y autoriza que el administrador de la aplicación SEPROAMERICA, utilice sus datos en calidad de responsable del tratamiento para fines derivados de la ejecución de la APP.

El administrador de la aplicación SEPROAMERICA informa que podrá ejercer sus derechos a conocer, actualizar, rectificar y suprimir su información personal; así como el derecho a revocar el consentimiento otorgado para el tratamiento de datos personales previstos en la Ley Orgánica De Protección De Datos Personales, siendo voluntario responder preguntas sobre información sensible o de menores de edad.

El administrador de la aplicación SEPROAMERICA podrá dar a conocer, transferir y/o trasmitir sus datos personales dentro y fuera del país a cualquier empresa vinculada con el administrador de la aplicación SEPROAMERICA, así como a terceros a consecuencia de un contrato, ley o vínculo lícito que así lo requiera, para todo lo anterior otorgo mi autorización expresa e inequívoca.

De conformidad a lo anterior autoriza el tratamiento de su información en los términos señalados, y transfiere al administrador de la aplicación SEPROAMERICA de manera total, y sin limitación mis derechos de imagen y patrimoniales de autor, de manera voluntaria, previa, explícita, informada e inequívoca.

Responsabilidad de SEPROAMERICA

SEPROAMERICA procurará garantizar disponibilidad, continuidad o buen funcionamiento de la aplicación. SEPROAMERICA podrá bloquear, interrumpir o restringir el acceso a esta cuando lo considere necesario para el mejoramiento de la aplicación o por dada de baja de la misma.

Se recomienda al usuario tomar medidas adecuadas y actuar diligentemente al momento de acceder a la aplicación, como por ejemplo, contar con programas de protección, antivirus, para manejo de malware, spyware y herramientas similares.

SEPROAMERICA no será responsable por:

a) Fuerza mayor o caso fortuito;

b) Por la pérdida, extravío o hurto de su dispositivo móvil que implique el acceso de terceros a la aplicación móvil;

c) Por errores en la digitación o accesos por parte del cliente;

d) Por los perjuicios, lucro cesante, daño emergente, morales, y en general sumas a cargo de SEPROAMERICA, por los retrasos, no procesamiento de información o suspensión del servicio del operador móvil o daños en los dispositivos móviles.

e) no será vinculada a ningún proceso legal tanto civil como penal ya que la obligación recae en quien ofrece el servicio o proveedor ya que la aplicación es solo un medio de contacto con el proveedor.

Denegación y Retirada del Acceso a la Aplicación
En el evento en que un usuario incumpla estos Términos y Condiciones, o cualesquiera otras disposiciones que resulten de aplicación, SEPROAMERICA podrá suspender su acceso a la aplicación.

Términos y Condiciones
El usuario acepta expresamente los Términos y Condiciones, siendo condición esencial para la utilización de la aplicación. En el evento en que se encuentre en desacuerdo con estos Términos y Condiciones, solicitamos abandonar la aplicación inmediatamente.

SEPROAMERICA podrá modificar los presentes términos y condiciones, avisando a los usuarios de la aplicación mediante la difusión de las modificaciones por algún medio electrónico, redes sociales, SMS y/o correo electrónico, lo cual se entenderá aceptado por el usuario si éste continua con el uso de la aplicación.

Jurisdicción
Estos términos y condiciones y todo lo que tenga que ver con esta aplicación, se rigen por las leyes ecuatorianas.

Uso de información no personal
SEPROAMERICA también recolecta información no personal en forma agregada para seguimiento de datos como el número total de descargas de la aplicación. Utilizamos esta información, que permanece en forma agregada, para entender el comportamiento de la aplicación.

Uso de Direcciones IP
Una dirección de Protocolo de Internet (IP) es un conjunto de números que se asigna automáticamente a su o dispositivo móvil cuando usted accede a su proveedor de servicios de internet, o a través de la red de área local (LAN) de su organización o la red de área amplia (WAN). Los servidores web automáticamente identifican su dispositivo móvil por la dirección IP asignada a él durante su sesión en línea.

SEPROAMERICA podrá recolectar direcciones IP para propósitos de administración de sistemas y para auditar el uso de nuestro sitio, todo lo anterior de acuerdo con la autorización de protección de datos que se suscribe para tal efecto.

Normalmente no vinculamos la dirección IP de un usuario con la información personal de ese usuario, lo que significa que cada sesión de usuario se registra, pero el usuario sigue siendo anónimo para nosotros. Sin embargo, podemos usar las direcciones IP para identificar a los usuarios de nuestro sitio cuando sea necesario con el objeto de exigir el cumplimiento de los términos de uso del sitio, o para proteger nuestro servicio, sitio u otros usuarios.

Seguridad
SEPROAMERICA está comprometido en la protección de la seguridad de su información personal. SEPROAMERICA tiene implementados mecanismos de seguridad que aseguran la protección de la información personal, así como los accesos únicamente al personal y sistemas autorizados, también contra la pérdida, uso indebido y alteración de sus datos de usuario bajo nuestro control.

Excepto como se indica a continuación, sólo personal autorizado tiene acceso a la información que nos proporciona. Además, hemos impuesto reglas estrictas a los colaboradores de SEPROAMERICA con acceso a las bases de datos que almacenan información del usuario o a los servidores que hospedan nuestros servicios.
        </div>
    </div>
</div>
