<app-header></app-header>

<div class="wrapper">
  <div class="bottom_nav" >
    <div id="navbarResponsive2">
    <ul>
      <li><a routerLink="/vehiculosSec">Vehiculos</a></li>
      <li><a routerLink="/armasSec">Armamentos</a></li>
      <li><a routerLink="/candadosSec">Candados Satelital</a></li>
      <li><a routerLink="/celularesSec">Celulares</a></li>
      
    </ul>
  </div>
  </div>
  </div>
  <button class="btn btn-primary"  mat-button (click)="openDialog()">
    Agregar Candado
  </button>

  
  <div class="informacion mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #tabla1>
  
      <ng-container matColumnDef="Numero Serie">
        <th mat-header-cell *matHeaderCellDef> Número de serie </th>
        <td mat-cell *matCellDef="let CandadoList"> {{CandadoList.numSerie}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let CandadoList"> {{CandadoList.marca}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let CandadoList"> {{CandadoList.modelo}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let CandadoList"> {{CandadoList.color}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Año">
        <th mat-header-cell *matHeaderCellDef> Año </th>
        <td mat-cell *matCellDef="let CandadoList"> {{CandadoList.anio}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Opciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let elemento; let i = index" style="text-align: right;">
          <a><mat-icon class="pointer"  style="color: rgb(75, 75, 201);" matTooltip="Ver detalles">remove_red_eye</mat-icon> </a>
          <a><mat-icon class="pointer" (click)="eliminarCandado(i)" style="color: rgb(177, 85, 86);" matTooltip="Eliminar">delete</mat-icon></a>
         </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  
  </div>
