<section class="modal-notificacion">

    <div class="contenido" >
        <h1>NOTIFICACIONES</h1>

        <div (click)="leerNotificacion(notificacion)"  *ngFor="let notificacion of notificacionService.notificaciones" id="notificaciones">
                <div [ngClass]="{
                    'nuevo_servicio' : notificacion.level=='Nuevo servicio',
                    'cualquiera' : notificacion.level=='Nuevo Mensaje'}"
                    id="item-notificacion">
                    
                    <div id="titulo">
                        <span *ngIf="notificacion.level=='Nuevo servicio'">    
                            NUEVO SERVICIO SOLICITADO
                        </span>
                        <span *ngIf="notificacion.level!='Nuevo servicio'">    
                            {{notificacion.level | uppercase}} 
                        </span>

                    </div>
                    <div class="contenido">{{notificacion.verbo}}</div>
                    <div class="d-flex">
                        <div id="hora">
                            21:20
                        </div>
                        <div id="estado" *ngIf="notificacion.read==false">
                            
                        </div>
                    </div>
                </div>
                <br>
        </div>
     

    </div>
    <audio hidden controls src='../../../../assets/audio/audio_alerta.mp3' type="audio/mp3">
        Your browser does not support the <code>audio</code> element.
    </audio>
    
</section>