
<div style="display: flex; flex-direction: column; gap: 3vh;">
    <div class="header-notificaciones">
        <h3 style="display: flex; gap: 3vh; "> 
            <img class="logoI " src="../../assets/Iconos/app-sepro-vectores-notificaciones.png">
            Notificaciones
            <!-- <button type="button" (click)="this.eliminarNotificaciones">eliminar notificaciones</button> -->
        </h3>
    </div>
    <div *ngIf="this.lista_notificaciones.length === 0;">
        No Message Arrived
    </div>
    
    <div *ngIf="this.lista_notificaciones.length !== 0;" class="ventana-notificaciones" 
        >
        <div style="padding: 1rem;" *ngFor="let notificacion of this.lista_notificaciones" 
        class="notificacion"
        (click)="obtenerPedido(notificacion.order)">
            <div style="display: flex; gap: 1rem;">
                <h6 style="text-align: justify;">Orden #: {{notificacion.order}}</h6>
                <h6 style="text-align: justify;">{{notificacion.title}}:</h6>
                <h6>{{notificacion.message}}</h6>
                

            </div>
           
            <div style="display: flex; gap: 7rem;">

                <h6>Fecha de envio: {{notificacion.date_sended.split('T')[0]}}</h6>
                <h6>Hora de envio: {{notificacion.date_sended.split('T')[1].split('.')[0]}}</h6>
    

            </div>
            
        </div>
    
    </div>
</div>