<body>
    <h1>Crear Grupos</h1>
    <form class="row" [formGroup]="registerForm" (ngSubmit)="guardar_grupos(registerForm)" enctype="multipart/form-data"> <!--(ngSubmit)="guardar_Personal_Operativo(registerForm)"-->

        
        <div class="col-4">
            <div class="item">
              <label >Nombre del grupo</label>
              <input   type="text" id="fname" name="nombres"  tabindex="1" matInput
                 required formControlName="name" /> <!--formControlName="first_name"-->
      
            </div>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Group_type</mat-label>
            <mat-select [formControl]="permisos" multiple formControlName="permissions">
            <mat-option *ngFor="let permiso of lista_permisos" [value]="permiso">{{permiso}}</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Seleccione una</mat-label>
            <mat-select [formControl]="group_types" formControlName="group_type">
                <mat-option *ngFor="let group_type of lista_group_type" [value]="group_type">{{group_type}}</mat-option>
                
            </mat-select>
        </mat-form-field>


        <button (click)="registrarGrupo()">registrar</button>



    </form>


    <h1>Crear Cargos</h1>

    <form class="row" [formGroup]="registerForm1" (ngSubmit)="crear_cargos(registerForm1)"> <!--(ngSubmit)="guardar_Personal_Operativo(registerForm)"-->

        
        <div class="col-4">
            <div class="item">
              <label >Nombre del cargo</label>
              <input   type="text" id="fname" name="nombres"  tabindex="1" matInput
                 required formControlName="name" /> <!--formControlName="first_name"-->
      
            </div>
        </div>

        <mat-form-field appearance="fill">
            <div class="item">
                <label >Descripcion</label>
                <input   type="text" id="fname" name="nombres"  tabindex="1" matInput
                   required formControlName="description" /> <!--formControlName="first_name"-->
        
              </div>
          </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Seleccione una</mat-label>
            <mat-select [formControl]="group_types" formControlName="type">
                <mat-option *ngFor="let group_type of lista_group_type" [value]="group_type">{{group_type}}</mat-option>
                
            </mat-select>
        </mat-form-field>


        <button>registrar</button>



    </form>


</body>



  