<app-header></app-header>
<div class="wrapper">
    <div class="bottom_nav" >
      <div id="navbarResponsive2">
      <ul>
        <li class="link-style" routerLinkActive="active" routerLink="grupos" >Crear grupos de usuario</li>
        <li class="link-style" routerLinkActive="active" routerLink="cargos">Crear cargo de usuario</li>
        <!-- <li class="link-style" routerLinkActive="active" routerLink="tablaCuentas">Cuentas Teléfono</li> -->
      </ul>
    </div>
    </div>
</div>
<router-outlet ></router-outlet>