<app-header></app-header>
<div class="wrapper">
  <div class="bottom_nav">
    <div id="navbarResponsive2">
      <ul>
        <li><a routerLinkActive="active" routerLink="/personalVentana">Personal Activo</a></li>
        <li><a routerLinkActive="active" routerLink="/personalAdminRegistro">Registrar Personal Administrativo</a></li>
        <li><a routerLinkActive="active" routerLink="/registrarPer">Registrar Personal Operativo</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="contenido">
  <form class="row" [formGroup]="registerForm" enctype="multipart/form-data">
    <div class="col-3">
      <div id="txtDatos">
         DATOS PERSONALES
      </div>
    </div>
    <div class="col-4">
      <div class="item">
        <label >NOMBRES</label>
        <input   type="text" id="fname" name="nombres"  tabindex="1" matInput
           required formControlName="nombres" [(ngModel)]="user.nombres" />
        <mat-error *ngIf="registerForm.controls['nombres'].errors?.['required']"> *</mat-error>
        <mat-error *ngIf="registerForm.controls['nombres'].errors?.['pattern']"> Solo insertar letras</mat-error>

      </div>

      <div class="item">
        <label  for="apellido">Apellidos</label>
        <input   type="text" id="apellido" matInput  required
          formControlName="apellidos" [(ngModel)]="user.apellidos" />
        <mat-error *ngIf="registerForm.controls['apellidos'].errors?.['required']"> *</mat-error>
        <mat-error *ngIf="registerForm.controls['apellidos'].errors?.['pattern']"> Solo insertar letras</mat-error>
      </div>

      <!--div class="item">
        <label class="label-email">FECHA DE NACIMIENTO</label>
          <input type="text" name="fechaNac"  tabindex="1" matInput
            class="form-control form-control-lg" required formControlName="fechaNac" [(ngModel)]="user.fechaNac"
            required validarFecha />
          <mat-error *ngIf="validacionFecha(user.fechaNac)">
            Debe ser mayor de 18 años
          </mat-error>


      </div-->

      <div class="item" >
        <label >FECHA DE NACIMIENTO</label>
        <!--<mat-form-field >-->
          <div>
            <input  
            type="date" name="fechaNac"  tabindex="1" 
              required formControlName="fechaNac" [(ngModel)]="user.fechaNac"
               required  validarFecha  >
            <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
          </div>
          
          <!--<mat-datepicker touchUi="true"  #picker ></mat-datepicker>
        </mat-form-field>-->
        <mat-error *ngIf="validacionFecha(user.fechaNac)">
          Debe ser mayor de 18 años
        </mat-error>
      </div>
      
      <div class="item">
        <label >DOCUMENTO DE IDENTIDAD</label>
          <input type="text" id="fname" name="cedula"  tabindex="1" matInput
            required formControlName="cedula" [(ngModel)]="user.numCedula" />
          <mat-error *ngIf="registerForm.controls['cedula'].errors?.['required']"> *</mat-error>
          <mat-error *ngIf="registerForm.controls['cedula'].errors?.['pattern']"> Su cédula solo debe contener
            digitos y empezar con 09 o 125</mat-error>
          <mat-error *ngIf="registerForm.controls['cedula'].errors?.['maxlength']"> Su cédula debe tener 10
             dígitos</mat-error>
          <mat-error *ngIf="registerForm.controls['cedula'].errors?.['minlength']"> Su cédula debe tener 10
            dígitos</mat-error><br>
      </div>

      <label class="form-label" for="form3Example1cg">Sexo</label>
      <div class="form-outline mb-4">
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="sexo" [(ngModel)]="user.sexo" 
                      id="gridRadios1" value="M">
          <label class="form-check-label" for="gridRadios1">
            Masculino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="sexo" [(ngModel)]="user.sexo" 
                      id="gridRadios2" value="F">
          <label class="form-check-label" for="gridRadios2">
            Femenino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="sexo" [(ngModel)]="user.sexo" 
                      id="gridRadios3" value="Nd">
          <label class="form-check-label" for="gridRadios3">
            No definir
          </label>
        </div>
        <mat-error *ngIf="registerForm.controls['sexo'].errors?.['required']"> *</mat-error>
      </div>


      <div class="item">
        <label >PROFESION</label>
          <input type="text" id="fname" name="profesion"  tabindex="1" matInput
            required  formControlName="profesion" [(ngModel)]="user.profesion"/>
          
      </div>

      <div class="item">
        <label  for="tel">TELÉFONO</label>
        <input maxlength="10" type="tel" id="tel" 
          formControlName="telefono" [(ngModel)]="user.telefono" />
        <mat-error *ngIf="registerForm.controls['telefono'].errors?.['required']"> *</mat-error>
        <mat-error *ngIf="registerForm.controls['telefono'].errors?.['pattern']"> Su telefono debe comenzar con 09 y
          tener como máximo 10 dígitos</mat-error>
        <mat-error *ngIf="registerForm.controls['telefono'].errors?.['minlength']"> Minimo 9 caracteres</mat-error>
        <mat-error *ngIf="registerForm.controls['telefono'].errors?.['maxlength']"> Maximo 10 caracteres</mat-error>
      </div>
      <div class="item">
        <label >CORREO ELECTRÓNICO</label>
        <input type="email" id="fname" name="correo" tabindex="1" matInput required
         formControlName="correo" [(ngModel)]="user.correo" />
        <mat-error *ngIf="registerForm.controls['correo'].errors?.['required']"> *</mat-error>
        <mat-error *ngIf="registerForm.controls['correo'].errors?.['pattern']"> Debe contener una extensión
          válida</mat-error>
      </div>
      <div class="item">
        <div class="item">
          <label >DIRECCIÓN</label>
          <input type="text" id="fname" name="direccion"  tabindex="1" matInput
              required  formControlName="direccion" [(ngModel)]="user.direccion"/>
          <mat-error *ngIf="registerForm.controls['direccion'].errors?.['required']"> *</mat-error>
        </div>
      </div>
      <div class="item"></div>
      

    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div  id="txtDatos">
            DATOS DEL CARGO
         </div>
        </div>
       

       <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Conducción
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">
            Uso de armamento
          </label>
        </div>
       </div>
      </div><br><br><br>
      <div class="row pe-4">
          <div class="col">
            <div id="txtDatos">
              DATOS DE TRABAJO
           </div>
          </div>
          <label class="form-label" for="form3Example1cg">Sucursales</label>
          <div class="form-outline mb-4">
              <div *ngFor="let sucursal of lista_Sucursales" class="form-check">
                <input class="form-check-input" type="radio" formControlName="sucursal_seleccionada" [(ngModel)]="sucursal_De_Personal" 
                    id="gridRadios1" value={{sucursal.idSucursal}}>
                <label class="form-check-label" for="gridRadios1">
                      {{sucursal.direccion}}
                </label>
              </div>
              <mat-error *ngIf="registerForm.controls['sucursal_seleccionada'].errors?.['required']"> *</mat-error>
          </div>
          <br>
          <label > Foto de perfil </label> 
          <input type="file"  accept="uploads/png, uploads/jpeg" (change)="setImagen($event)">
          

          <br>
          <br>

          <label class="form-label" for="form3Example1cg">Cargo de trabajo</label>
          <div class="form-outline mb-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="check_guardia">
              <label class="form-check-label" for="flexRadioDefault1">
                Guardia
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="check_guardaespaldas">
              <label class="form-check-label" for="flexRadioDefault2">
                Guardaespaldas
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="check_conductor">
              <label class="form-check-label" for="flexRadioDefault2">
                Conductor
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="check_motorizado">
              <label class="form-check-label" for="flexRadioDefault2">
                Motorizado
              </label>
            </div>
            <mat-error *ngIf="registerForm.controls['sexo'].errors?.['required']"> *</mat-error>
          </div>

  
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col cont-guardar">
          <input type="image" id="img-guardar" src="../../assets/Iconos/app sepro vectores-62.png"
          data-bs-toggle="modal" data-bs-target="#modalDos" data-bs-dismiss="modal"
           alt="" (click)="guardar_Personal_Operativo()">
          <!--<img id="img-guardar" src="../../assets/Iconos/app sepro vectores-62.png" alt="">-->
         </div>
      </div>
     
    </div>

    <!--Pantalla para confirmar registro-->
    <div class="modal fade" id="modalDos" data-bs-backdrop="static" [ngStyle]="{'display':display}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!--<h1 class="modal-title fs-5" id="staticBackdropLabel mensajeDeConfirmacion"></h1>-->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3 id="mensajeDeConfirmacionDos"></h3>
          </div>
          <!--<div class="modal-footer">
            <button type="button" (click)="guardarUsuario()" class="btn btn-primary" style="background-color:green;">Guardar</button>
          </div>-->
        </div>
      </div>
    </div>

   


  </form>

</div>
