
<!-- <h6>{{this.error.message}}</h6> -->



<div  style="display: flex; flex-direction: column; align-items: center; text-align: center; gap: 1rem; font-size: 2rem; ">
    <div>
        <img style="width: 15vh; height: 15vh;" src="../../../../assets/Iconos/0011.png" alt="">
    </div>
    <div class="modal-header">
        <h4>Error al guardar los datos. <br> Existen errores en los siguientes campos: </h4>
    </div>
    <div class="modal-body">
        <!-- <h4 id="mensajeDeConfirmacionDos">Realmente desea eliminar este usuario?</h4> -->
        <h5 *ngIf="this.error.error.dni !== undefined"> Cédula de identidad: {{this.error.error.dni[0]}}</h5>
        <h5 *ngIf="this.error.error.email !== undefined">Correo electrónico: {{this.error.error.email[0]}}</h5>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #c93c45; width: 10rem;" (click)="onClickNo()">Cerrar</button> <!---->
    </div>
</div>