
<div class="contenido">

  <h3>Registrar administrador</h3>

    
  <form [formGroup]="registerForm" (ngSubmit)="guardarUsuario(registerForm)" class="formulario">
    <div class="grupo_formulario"> 
      <h4>Datos Personales</h4>

      <div class="item">
        <label class="format-labels">NOMBRES</label>
        <mat-form-field appearance="fill">
          <mat-label>nombres</mat-label>
          <input type="text" id="fname" name="first_name" matInput required formControlName="first_name"  />
          <mat-error *ngIf="registerForm.controls['first_name'].errors?.['required']"> *</mat-error>
          <mat-error *ngIf="registerForm.controls['first_name'].errors?.['pattern']"> Solo insertar letras</mat-error>
        </mat-form-field>

      </div>

      <div class="item">
        <label for="apellido">APELLIDOS</label>
        <mat-form-field appearance="fill">
          <mat-label>apellidos</mat-label>
          <input type="text" id="apellido" matInput required formControlName="last_name" name="last_name"/>
          <mat-error *ngIf="registerForm.controls['last_name'].errors?.['required']">*</mat-error>
          <mat-error *ngIf="registerForm.controls['last_name'].errors?.['pattern']"> Solo insertar letras</mat-error>
        </mat-form-field>

      </div>

      <div class="item" >
        <label for="fechNac">FECHA DE NACIMIENTO</label>
        <mat-form-field appearance="fill">
          <mat-label>fecha de nacimiento</mat-label>
          <input matInput type="date"  formControlName="birthdate">
        </mat-form-field>
        
      </div>

      <div class="item">
        <label for="apellido">DOMICILIO</label>
        <mat-form-field appearance="fill">
          <mat-label>domicilio</mat-label>
          <input   type="text" id="address" matInput required formControlName="address" name="address"  /> 
          <mat-error *ngIf="registerForm.controls['address'].errors?.['required']">*</mat-error>
        </mat-form-field>
        
      </div>


      <div class="item">
        <label>DOCUMENTO DE IDENTIDAD</label>
        <mat-form-field appearance="fill">
          <mat-label>cédula</mat-label>
          <input type="text" id="fname" name="dni" matInput required formControlName="dni"  />
          <mat-error  *ngIf="registerForm.controls['dni'].errors?.['required']"> *</mat-error>
          <mat-error  *ngIf="registerForm.controls['dni'].errors?.['pattern']"> Su cédula solo debe contener
            digitos y empezar con 09 o 125</mat-error>
          <mat-error *ngIf="registerForm.controls['dni'].errors?.['maxlength']"> Su cédula debe tener 10
            dígitos</mat-error>
          <mat-error  *ngIf="registerForm.controls['dni'].errors?.['minlength']"> Su cédula debe tener 10
            dígitos</mat-error>
        </mat-form-field>
 
      </div>

      <div class="item">
        <label >CORREO ELECTRÓNICO</label>

        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input type="email" id="fname" name="email" matInput required formControlName="email" />
          <mat-error *ngIf="registerForm.controls['email'].errors?.['required']"> *</mat-error>
          <mat-error *ngIf="registerForm.controls['email'].errors?.['pattern']"> Debe contener una extensión válida</mat-error>
        </mat-form-field>
      </div>


      <div class="item">
        <label for="tel">TELÉFONO</label>

        <mat-form-field appearance="fill">
          <mat-label>teléfono</mat-label>
          <input maxlength="10" type="tel" id="tel" matInput formControlName="phone_number"/>
          <mat-error *ngIf="registerForm.controls['phone_number'].errors?.['required']"> *</mat-error>
          <mat-error *ngIf="registerForm.controls['phone_number'].errors?.['pattern']"> Su telefono debe comenzar con 09 y
            tener como máximo 10 dígitos</mat-error>
          <mat-error *ngIf="registerForm.controls['phone_number'].errors?.['minlength']"> Minimo 9 caracteres</mat-error>
          <mat-error *ngIf="registerForm.controls['phone_number'].errors?.['maxlength']"> Maximo 10 caracteres</mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <label class="form-label" for="cargos">GENERO</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge un genero</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let genero of lista_generos" value="{{genero}}" id="{{genero}}">{{genero}}</mat-option>
            <mat-error *ngIf="registerForm.controls['gender'].errors?.['required']"> *</mat-error>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="item">
        <label class="form-label format-labels" for="pass">CONTRASEÑA</label>
        <mat-form-field class="input-format" appearance="fill">
          <mat-label>Ingrese contraseña</mat-label>
          <input id="pass" matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
                <mat-icon (click)="hide=!hide" matSuffix>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
                <mat-error *ngIf="registerForm.controls['password'].errors?.['minlength']"> Minimo 8 caracteres</mat-error><br>
        </mat-form-field>
      </div>
      
    </div>

    <div class="grupo_formulario">
      <h3>DATOS DE TRABAJO</h3>

      <div class="item">
        <label class="form-label" for="form3Example1cg">Sucursales</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una sucursal</mat-label>
          <mat-select formControlName="branch">
            <mat-option *ngFor="let sucursal of lista_sucursales" value="{{sucursal.name}}" id="{{sucursal.id}}">{{sucursal.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.controls['branch'].errors?.['required']"> *</mat-error>
        </mat-form-field>
        
      </div>

      <div class="item">
        <label > FOTO DE PERFIL </label> 
        <input type="file"  accept="uploads/png, uploads/jpeg" (change)="setImagen($event)">
  
      </div>


    </div>

    <div class="item">
      <button mat-raised-button color="primary" class="format-button" type="submit" ngClick="submit" [disabled]="!registerForm.valid">Guardar</button>
    </div>

  </form>
  
</div>



