
  
  <mat-card>
    <mat-card-header>
      <mat-card-title-group >
        <mat-card-title>{{this.admin.first_name}} {{this.admin.last_name}}</mat-card-title>
        <mat-card-subtitle><b>cedula: </b>{{this.admin.dni}}</mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
    </mat-card-header>
    <mat-card-content>
      <p><b>Correo electronico:</b> {{this.admin.email}}</p>
      <p><b>Direccion:</b> {{this.admin.address}}</p>
      <p><b>Fecha de nacimiento:</b> {{this.admin.birthdate}}</p>
      <p><b>Genero:</b> {{this.admin.gender}}</p>
      <p><b>Telefono:</b> {{this.admin.phone_number}}</p>
      <p><b>Activo:</b> {{this.admin.is_active}}</p>
      <p><b>Sucursal:</b> {{this.admin.branch}}</p>
      <p><b>Grupo:</b> {{this.admin.group}}</p>  
    </mat-card-content>
  </mat-card>
  

