<app-header></app-header>

<div class="wrapper">
    <div class="bottom_nav" >
      <div id="navbarResponsive2">
      <ul>
        <li class="link-style" routerLinkActive="active" routerLink="tablaPersonalOperativo">Mensajes</li>
      </ul>
    </div>
    </div>
</div>

<div class="container">
 
    <div class="lista-mensajes">

      <button mat-flat-button color="primary" type="button" (click)="this.nuevoMensaje()">Nuevo mensaje</button>
      <div *ngFor="let usuario of this.lista_usuarios" (click)="appearChat(usuario.id);" class="usuario-mensaje">
        <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
      </div>
            

    </div>

    <div class="bucket-mensajes">

        <router-outlet *ngIf="this.appear_chat"></router-outlet>

    </div>
</div>
