  
 <div class="area_boton">
  <button mat-button type="button" class="btn_Crear_Servicio boton_crear_servicio" (click)=" crearServicio()">Crear Servicio</button>
</div>
<br>
 <div class="ventanaPrincipal">

  <div style="margin: auto;" *ngFor="let servicio of lista_Servicio" id="{{servicio.id}}" class="servicio_especifico">
    <!-- <img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-12.png" alt="">
  
    <div class="detalles">
      <h1>{{servicio.name}}</h1>
      <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-19.png" alt="">
      <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="" (click)="verServicio(servicio.id)">
    </div>
  </div> -->

  <div class="servicio_especifico" >
    <div class="contenedor_principal">
      <div class="contenedor_blanco" >
        <div class="contenedor" >
          <img *ngIf="servicio.name === 'Custodia armada'" ngIfNoWhitespace src="../../assets/Iconos/app sepro vectores-19.png"alt="" style="max-width: 10vh; ">
          <img *ngIf="servicio.name === 'Chofer seguro'" ngIfNoWhitespace src="../../assets/Iconos/app sepro vectores-17.png"alt="" style="max-width: 10vh; ">
          <img *ngIf="servicio.name === 'Transporter'" ngIfNoWhitespace src="../../assets/img/transporte_rojo.png"alt="" style="max-width: 10vh; background-color: whitesmoke;">
          <img *ngIf="servicio.name === 'Guardia de seguridad'" ngIfNoWhitespace src="../../assets/Iconos/app sepro vectores-32.png"alt="" style="max-width: 10vh;">
          <h3 >{{servicio.name}}</h3>
          <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="" style="width: 15vh; cursor: pointer;" (click)="verServicio(servicio.id)">
    
        </div>
    
      </div>
     
      
    </div>

   </div>
   

 </div> 





