<app-header></app-header>

<div class="wrapper">
  <div class="bottom_nav" >
    <div id="navbarResponsive2">
    <ul>
      <li><a routerLink="/vehiculosSec">Vehiculos</a></li>
      <li><a routerLink="/armasSec">Armamentos</a></li>
      <li><a routerLink="/candadosSec">Candados Satelital</a></li>
      <li><a routerLink="/celularesSec">Celulares</a></li>
      
    </ul>
  </div>
  </div>
  </div>
  <mat-toolbar color="primary">
    <span>Mi aplicación</span>
    </mat-toolbar>
<div class="cuerpo">
  <div class="campos">
  <form method="get" action="javascript: void(0);" id="login-form" class="login-form" autocomplete="off" role="main">
    <h1 class="a11y-hidden">Login Form</h1>
    <div>
      <label class="label-email">
        <input type="text" class="text" id="fname" name="placa" placeholder="Ingrese placa" tabindex="1" required />
        <span class="required">Placa</span>
      </label>
    </div>

    <div>
      <label class="label-email">
        <input type="text" class="text" id="fname" name="marca" placeholder="Ingrese Marca del vehiculo" tabindex="1" required />
        <span class="required">Marca</span>
      </label>
    </div>

    <div>
      <label class="label-email">
        <input type="text" class="text" id="fname" name="modelo" placeholder="Ingrese Modelo del vehiculo" tabindex="1" required />
        <span class="required">Modelo</span>
      </label>
    </div>

    <div>
      <label class="label-email">
        <input type="number" min="2005" max="2099" class="text" id="fname" name="anio" placeholder="Ingrese el año" tabindex="1" required />
        <span class="required">Año</span>
      </label>
    </div>
    
    <div>
      <label class="label-email">
        <input type="text" class="text" id="fname" name="modelo" placeholder="Ingrese color del vehiculo" tabindex="1" required />
        <span class="required">Color</span>
      </label>
    </div>
    <!--
    <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
    <label class="label-show-password" for="show-password">
      <span>Show Password</span>
    </label>
  -->
    
    <input type="submit" value="Agregar Vehiculo" />
  </form>
</div>
</div>
