<mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title-group >
        <mat-card-title>Modelo: {{this.arma.model}}</mat-card-title>
        <img mat-card-md-image style="margin-left: 50vh;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <b>Categoría:</b> {{this.arma.category}}<br>
      <b>Marca:</b> {{this.arma.brand}}<br> 
      <b>Munición:</b> {{this.arma.ammo}}<br>
    </mat-card-content>
  </mat-card>

