table {
  margin: auto;
  background-color: rgb(224, 224, 233);
  margin-top: 12px;
  width: 90%;
  text-align: start;
}

th{
  align-items: center;
  width: 20%;
}

td{
  align-items: center;
}

.pointer{
  cursor: pointer;
}

.botones{
  color: white; 
  background-color: black;
  margin: 3vh;
}

.general{
  display: flex; 
  flex-direction: column; 
  gap: 3vh;
}

th{
  background-color: black;
  color: white;
}

td{
  background-color: whitesmoke;
}

.caja{
  display: grid;
  place-items: center;
  gap: 3vh;
  
}