<mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title-group >
        <mat-card-title>Modelo: {{this.celular.model}}</mat-card-title>
        <img mat-card-md-image style="margin-left: 50vh;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <b>Numero de teléfono:</b> {{this.celular.phone_number}}<br>
      <b>Color:</b> {{this.celular.color}}<br>
      <b>Marca:</b> {{this.celular.brand}}<br> 
      <b>Sucursal:</b> {{this.celular.branch}}<br>
      <b>Año compra:</b> {{this.celular.purchase_date}}<br>
    
    </mat-card-content>
  </mat-card>
