<!-- <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title-group >
        <mat-card-title>Modelo: {{this.celular.model}}</mat-card-title>
        <img mat-card-md-image style="margin-left: 50vh;" src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      
      <b>Color:</b> {{this.celular.color}}<br>
      <b>Marca:</b> {{this.celular.brand}}<br> 
      <b>Sucursal:</b> {{this.celular.branch}}<br>
      
    
    </mat-card-content>
  </mat-card> -->


  <div class="contenedor-principal">
    <div class="contenedor-secundario">
    <img  ngIfNoWhitespace style="width: 10rem; height: 8rem; margin-bottom: 0.25rem;" src="assets/logo.png" alt="">
    <!-- <img *ngIf="this.celular.url_img !== null" ngIfNoWhitespace style="width: 10rem; height: 8rem; margin-bottom: 0.25rem; border-radius: 10rem;" [src]="this.celular.url_img " alt=""> -->
      <div class="contenedor-informacion">
        <h4>
          <h6><b>Modelo:</b> <h6 class="color-gris">{{this.celular.model}}</h6></h6>
        </h4>
        <h5 style="color: #959595;">
          {{this.celular.dni}}
        </h5>
        <h4 *ngIf="this.celular.is_active" style="color: #34604e;"><b>Activo</b></h4>
        <h4 *ngIf="!this.celular.is_active" style="color: #c83b44;"><b>No Activo</b></h4>
      </div>
    </div>
    <div>
      
      <h6><b>Numero de teléfono:</b> <h6 class="color-gris">{{this.celular.phone_number}}</h6></h6>
      <h6><b>Color:</b> <h6 class="color-gris">{{this.celular.color}}</h6></h6>
      <h6><b>Marca:</b> <h6 class="color-gris">{{this.celular.brand}}</h6> </h6>
      <h6><b>Año compra:</b>  <h6 class="color-gris">{{this.celular.purchase_date}}</h6> </h6>
      <h6> <b>Sucursal:</b>  <h6 class="color-gris">{{this.celular.branch}}</h6></h6>


  </div> 