
<div class="contenido"> 
  <h3>Editar Armamento</h3>

  <form id="login-form" class="login-form" [formGroup]="registerForm" (ngSubmit)="editarArma(this.registerForm)">
    
    <div class="grupo_formulario">
      <div class="item">
        <label class="label-email">Número de serie</label>
        <mat-form-field appearance="fill">
          <mat-label>Número de serie</mat-label>
          <input type="text" id="fname"  name="serial_number" placeholder="Ingrese el Número de serie"  matInput required formControlName="serial_number" />          
          <mat-error *ngIf="registerForm.controls['serial_number'].errors?.['required']"> *</mat-error>
        </mat-form-field>
      </div>
    
      <div class="item">
        <label>Marca</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una marca</mat-label>
          <mat-select formControlName="brand">
            <mat-option *ngFor="let marca of lista_marcas" value="{{marca}}" id="{{marca}}">{{marca}}</mat-option>
    
          </mat-select>
          <mat-error *ngIf="registerForm.controls['brand'].errors?.['required']"> *</mat-error>
        </mat-form-field>

      </div>

    <div class="item">

      <label>Modelo</label>
      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <input type="text" id="fname"  name="model" placeholder="Ingrese el modelo"  matInput  required formControlName="model" />
        <mat-error *ngIf="registerForm.controls['model'].errors?.['required']"> *</mat-error>
      </mat-form-field>

    </div>

    <div class="item">
      <label>Categoría</label>
      <mat-form-field appearance="fill">
        <mat-label>Escoge una categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let categoria of lista_categoria" value="{{categoria}}" id="{{categoria}}">{{categoria}}</mat-option>
  
        </mat-select>
        <mat-error *ngIf="registerForm.controls['category'].errors?.['required']"> *</mat-error>
      </mat-form-field>
 
    </div>

    <div class="item">

      <label class="label-email">Munición</label>
      <mat-form-field appearance="fill">
        <mat-label>Escoge una municion</mat-label>
        <mat-select formControlName="ammo">
          <mat-option *ngFor="let municion of lista_municion" value="{{municion.caliber}}" id="{{municion.caliber}}">{{municion.caliber}}</mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['ammo'].errors?.['required']"> *</mat-error>

      </mat-form-field>
    </div>

    <div class="item">

      <label class="label-email">Año</label>
      <mat-form-field appearance="fill">
        <mat-label>Año</mat-label>
        <input type="text" id="fname"  name="year" placeholder="Ingrese el año"  matInput required formControlName="year" />
        <mat-error *ngIf="registerForm.controls['year'].errors?.['required']"> *</mat-error>
      </mat-form-field>
    </div>

    <div class="item">

      <label class="label-email">Color</label>
      <mat-form-field appearance="fill">
        <mat-label>Escoge un color</mat-label>
        <mat-select formControlName="color">
          <mat-option *ngFor="let color of lista_colores" value="{{color}}" id="{{color}}">{{color}}</mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['color'].errors?.['required']"> *</mat-error>
      </mat-form-field>
    </div>

    <div class="item">
      <label class="label-email">Sucursales</label>
      <mat-form-field appearance="fill">
        <mat-label>Escoge una sucursal</mat-label>
        <mat-select formControlName="branch">
          <mat-option *ngFor="let sucursal of lista_sucursales" value="{{sucursal.name}}" id="{{sucursal.id}}">{{sucursal.name}}</mat-option>

        </mat-select>
        <mat-error *ngIf="registerForm.controls['branch'].errors?.['required']"> *</mat-error>
      </mat-form-field>
    </div>
      
          


    <div class="caja_botones">
      <button mat-raised-button color="warn" class="format-button" (click)="onClickNO()">Cancelar</button>              
      <button mat-raised-button color="primary" class="format-button" type="submit" [mat-dialog-close]="true">Guardar</button>
    </div>


    </div>
    
    
      
    <!--
    <input type="submit" value="Confirmar" />
    -->
</form>



</div>




