<form id="login-form" class="login-form" [formGroup]="registerForm" (ngSubmit)="editarArma(this.registerForm)">
    <div>

        <label class="label-email">Número de serie</label>
        <input type="text" id="fname"  name="serial_number" placeholder="Ingrese el Número de serie" matInput class="form-control form-control-lg" required
        formControlName= "serial_number" />
        <!-- <mat-error *ngIf="registerForm.controls['serial_number'].errors?.['required']"> *</mat-error> -->
 

    </div>
    
    <div>
      <label class="label-email">Marca</label>
      <!-- <input type="text" id="fname"  name="brand" placeholder="Ingrese la marca" tabindex="1" matInput class="form-control form-control-lg" required
      formControlName="brand"/> -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una marca</mat-label>
          <mat-select formControlName="brand">
            <mat-option *ngFor="let marca of lista_marcas" value="{{marca}}" id="{{marca}}">{{marca}}</mat-option>
    
          </mat-select>
        </mat-form-field>
  
      </div>
      <mat-error *ngIf="registerForm.controls['brand'].errors?.['required']"> *</mat-error>
    </div>

    <div>

      <label class="label-email">Modelo</label>
      <input type="text" id="fname"  name="model" placeholder="Ingrese el modelo" tabindex="1" matInput class="form-control form-control-lg" required
      formControlName="model" />
      <!-- <mat-error *ngIf="registerForm.controls['model'].errors?.['required']"> *</mat-error> -->


    </div>

    <div>

      <label class="label-email">Categoría</label>
      <!-- <input type="text" id="fname"  name="category" placeholder="Ingrese la categoria" tabindex="1" matInput class="form-control form-control-lg" required
      formControlName="category" /> -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let categoria of lista_categoria" value="{{categoria}}" id="{{categoria}}">{{categoria}}</mat-option>
    
          </mat-select>
        </mat-form-field>
  
      </div>
      
      <mat-error *ngIf="registerForm.controls['category'].errors?.['required']"> *</mat-error>


  </div>

  <div>

    <label class="label-email">Munición</label>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Escoge una municion</mat-label>
        <mat-select formControlName="ammo">
          <mat-option *ngFor="let municion of lista_municion" value="{{municion.caliber}}" id="{{municion.caliber}}">{{municion.caliber}}</mat-option>
  
        </mat-select>
      </mat-form-field>

    </div>
    <mat-error *ngIf="registerForm.controls['ammo'].errors?.['required']"> *</mat-error>


  </div>

  <div>

    <label class="label-email">Año</label>
    <input type="number" id="fname"  name="year" placeholder="Ingrese el año" tabindex="1" matInput class="form-control form-control-lg" required
    formControlName="year" />
    <!-- <mat-error *ngIf="registerForm.controls['year'].errors?.['required']"> *</mat-error> -->


  </div>

  <div>

    <label class="label-email">Color</label>
    <!-- <input type="text" id="fname"  name="color" placeholder="Ingrese el color" tabindex="1" matInput class="form-control form-control-lg" required
    formControlName="color" /> -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Escoge un color</mat-label>
        <mat-select formControlName="color">
          <mat-option *ngFor="let color of lista_colores" value="{{color}}" id="{{color}}">{{color}}</mat-option>
  
        </mat-select>
      </mat-form-field>

    </div>
    <mat-error *ngIf="registerForm.controls['color'].errors?.['required']"> *</mat-error>


  </div>

  <div>

    <label class="label-email">Sucursales</label>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una sucursal</mat-label>
          <mat-select formControlName="branch">
            <mat-option *ngFor="let sucursal of lista_sucursales" value="{{sucursal.name}}" id="{{sucursal.id}}">{{sucursal.name}}</mat-option>

          </mat-select>
        </mat-form-field>
          
          <!-- <mat-error *ngIf="registerForm.controls['branch'].errors?.['required']"> *</mat-error> -->
      </div>

</div>
      
          


<div class="column botonesConf">
  <button class="botonesConf" mat-button (click)="onClickNO()">Cancelar</button>              
  <button class="botonesConf" type="submit" mat-button [mat-dialog-close]="true">Guardar</button>
</div>
      
    <!--
    <input type="submit" value="Confirmar" />
    -->
</form>
