  /*seccion del form*/
  
    /*estilos para contenido*/
    .contenido{
      color: black;
      background-color: whitesmoke;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: start;
      padding: 2rem;
      
    }
    
    .formulario{
      display: flex;
      flex-direction: column;
      gap: 5rem
    }
    
    .item{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 3vh;
    
    }
  
    .grupo_formulario{
      display: flex;
      flex-direction: column;
      /* gap: 0.5rem; */
    }
  
    .format-button{
      font-size: 1.5rem;
      color: white;
      /* background-color: #40ce50; */
      border-radius: 1.5rem;
      width: 30vh;
      border: none;
      font-weight: bolder;
    }
    
    .format-button:disabled{
      /* background-color: lightgreen; */
      color: whitesmoke;
    }
    
  
    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
      background-color: white;
    }
  
    .caja_botones{
      display: flex;
      gap: 1rem
    }
  