<div mat-dialog-content>{{message}}</div>
<div mat-dialog-actions>
    

    <div class="cuerpo">
      <div class="campos row">
          <div class="column">
              <form method="get" action="javascript: void(0);" id="login-form" class="login-form" [formGroup]="registerForm" autocomplete="on" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
  
              <div>

                  <label class="label-email">Placa</label>
                  <input type="text" id="fname"  name="placa" placeholder="Ingrese la placa del vehiculo" tabindex="1" matInput class="form-control form-control-lg" required
                  formControlName="placa"
                  [(ngModel)]="vehiculo.placa" />
                  <mat-error *ngIf="registerForm.controls['placa'].errors?.['required']"> *</mat-error>
           

              </div>
              
              <div>
                <label class="label-email">Marca</label>
                <input type="text" id="fname"  name="marca" placeholder="Ingrese la placa del vehiculo" tabindex="1" matInput class="form-control form-control-lg" required
                formControlName="marca"
                [(ngModel)]="vehiculo.marca"/>
                <mat-error *ngIf="registerForm.controls['marca'].errors?.['required']"> *</mat-error>
              </div>
              
              <div>
                
                    <label class="label-email">Modelo</label>
                    <input type="text" id="fname"  name="marca" placeholder="Ingrese el modelo del vehiculo" tabindex="1" matInput class="form-control form-control-lg" required
                    formControlName="modelo"
                    [(ngModel)]="vehiculo.modelo"/>
                    <mat-error *ngIf="registerForm.controls['modelo'].errors?.['required']"> *</mat-error>
                 
            </div>

            <div>
                <label class="label-email">Color</label>
                <input type="text" class="text" id="fname" name="color" placeholder="Ingrese el color del vehiculo" tabindex="1" matInput class="form-control form-control-lg" required
                formControlName="color"
                [(ngModel)]="vehiculo.color"/>
                <mat-error *ngIf="registerForm.controls['color'].errors?.['required']"> *</mat-error>
              </div>
       <!--
            </form>
      </div>
              
      <div class="column" >   
        <form method="get" action="javascript: void(0);" id="login-form" class="login-form" [formGroup]="registerForm" autocomplete="on" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
          -->
          <div>
                <label class="label-email">Año</label>
                <input type="number" min="1999" max="2023" class="text" id="fname" name="anio" placeholder="Ingrese la placa del vehiculo" tabindex="1" matInput class="form-control form-control-lg" required
                formControlName="anio"
                [(ngModel)]="vehiculo.anio"/>
                <mat-error *ngIf="registerForm.controls['anio'].errors?.['required']"> *</mat-error>
              </div>
            <!--
              <div>
                  <label class="label-email">
                  <input type="text" class="text" id="fname" name="modelo" placeholder="Ingrese Modelo del vehiculo" tabindex="1" required />
                  <span class="required">Tipo</span>
                  </label>
              </div>
            
                           <div>
                <label class="label-email">Fecha Inicio Operaciones</label>
                <input  type="date" class="text" id="fname" name="modelo" placeholder="Ingrese fecha" tabindex="1" matInput class="form-control form-control-lg" required
                formControlName="anio"
                [(ngModel)]="vehiculo.fecha">
                <mat-error *ngIf="registerForm.controls['anio'].errors?.['required']"> *</mat-error>
              </div>
              -->
              <!--
              <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
              <label class="label-show-password" for="show-password">
                  <span>Show Password</span>
              </label>
              -->
              <div class="column botonesConf">
                <button class="botonesConf" mat-button (click)="onClickNO()">Cancelar</button>              
                <button class="botonesConf" mat-button (click)="guardarVehiculo()" [mat-dialog-close]="true">Guardar</button>
              </div>
              
              <!--
              <input type="submit" value="Confirmar" />
              -->
      </form>
      </div> 
  </div>
