
<div class="servicios">

    <!--<div *ngFor="let pedido of lista_pedidos">
        <p>{{pedido.nombre_Servicio}}</p>
        <button routerLink="/serviciosDetallesAsignacion" (click)="encontrar_pedido_especifico(pedido.idPedido)">{{pedido.nombre_Servicio}}</button>
    </div>-->
    <div class="contenedor-servicios">
      <div class="pedido" *ngFor="let pedido of lista_pedidos_asignar">
        <!--  -->
       
          <div id="IdServicio" class="elemento-pedido">
            <p id="Sub_Titulo">ID SERVICIO</p>
            <p>{{pedido.id}}</p>
          </div>
  
          <div id="Fecha_Solicitud" class="elemento-pedido">
            <p id="Sub_Titulo">Fecha de solicitud</p>
            <p>{{pedido.date_request}}</p>
          </div>
  
          <div id="Fecha_Servicio" class="elemento-pedido">
            <p id="Sub_Titulo">Fecha de Servicio</p>
            <p>{{pedido.start_date}}</p>
          </div>
  
          <div id="Solicitante" class="elemento-pedido">
            <p id="Sub_Titulo">Solicitante</p>
            <p>{{pedido.client_first_name}} {{pedido.client_last_name}}</p>
          </div>
  
          <div id="Distancia" class="elemento-pedido">
            <p id="Sub_Titulo">Dni del solicitante</p>
            <p>{{pedido.client_dni}}</p>
          </div>
  
          <div id="Servicio" class="elemento-pedido">
            <p id="Sub_Titulo">Servicio</p>
            <p>{{pedido.service_name}}</p>
          </div>
  
         
  
          <div id="Botones" class="elemento-pedido" style="display: flex; flex-direction: column;">
            <button mat-flat-button color="primary" routerLink="/serviciosVentana/serviciosDetallesAsignacion" (click)="encontrar_pedido_especifico(pedido.id)">Detalles</button>
            <!-- <button >Cancelar</button> -->
          </div>
  
          <br><br>
  
        </div>
    

    </div>
    
  
</div>