<!-- <section class="modal-mensajeria">

    <div class="contenido" >
        <h1>MENSAJERIA</h1>
        <div class="mensajes">
            <div class="lista-mensajes">
                <div *ngFor="let message of mensajeriaService.chats" >

                    <div  id="item-mensaje">
                        <div id="nombre-servicio">Servicio <br> {{message.canal__id_servicio}}</div>
    
                        <div id="mensaje" >
                            <div style="width:20%;" class="text-center">
                                <mat-icon  style="zoom: 1.5; color: rgb(96, 96, 223);">person</mat-icon>
                            </div>
    
                            <div style="width: 80%;">
                                <span   class="info-envio">{{message.nombre_perfil}} 
                                    <span class="info-envio" *ngIf='message.usuario__rol===1'> - Administrador</span>
                                    <span class="info-envio" *ngIf='message.usuario__rol===1'>(Yo)</span>
                                    <span class="info-envio" *ngIf='message.usuario__rol===2'> - Cliente</span>
                                    <span class="info-envio" *ngIf='message.usuario__rol===3'> - Empleado</span>
        
                                </span>
                            
                                <p >{{message.texto.split(" ").splice(0, 8).join(" ")}} </p>
                            </div>
                            <span class="no-leido" *ngIf="message.check_leido===false && message.usuario__correo!==usuario_actual "></span>

                        </div>
                    </div>
                    <br>
            </div>
            </div>
        </div>
        

    </div>
    <div class="btn-mensajeria">
        <button (click)="irMensajeria()" class="btn" >Ir a mensajería</button>
    </div>
</section> -->

<div style="display: flex; flex-direction: column; align-items: center; gap: 2rem;">
    <div class="header-mensajeria">
        <img width="70vh" src="../../../../assets/Iconos/app-sepro-vectores-sms.png" alt="">
        <h3>Mensajería</h3>
    </div>

    <div class="lista-mensajes">
        <div class="mensaje" style="padding: 1rem; width: 100%;" *ngFor="let mensaje of this.lista_mensajes">
            <div>
                <h6>{{mensaje.nombre}}</h6>
                <h6>{{mensaje.mensaje}}</h6>
            </div>
            <div>
                <h6>fecha de envío: {{mensaje.fecha_de_envio}}</h6>
            </div>


        </div>



        <!-- <div style="padding: 1rem;" *ngFor="let notificacion of this.lista_notificaciones" 
        class="notificacion"
        (click)="obtenerPedido(notificacion.order)">
            <div style="display: flex; gap: 1rem;">
                <h6 style="text-align: justify;">Orden #: {{notificacion.order}}</h6>
                <h6 style="text-align: justify;">{{notificacion.title}}:</h6>
                <h6>{{notificacion.message}}</h6>
                

            </div>
           
            <div style="display: flex; gap: 7rem;">

                <h6>Fecha de envio: {{notificacion.date_sended.split('T')[0]}}</h6>
                <h6>Hora de envio: {{notificacion.date_sended.split('T')[1].split('.')[0]}}</h6>
    

            </div>
            
        </div> -->

    </div>
</div>