<div class="contenido">
  <h3>Editar Vehículo</h3>
  <form [formGroup]="registerForm" (ngSubmit)="editarVehiculo(registerForm)" >
  
    <div class="grupo_formulario">
      <div class="item">

        <label >Placa</label>
        <mat-form-field appearance="fill">
          <mat-label>placa</mat-label>
          <input type="text"   name="plate" placeholder="Ingrese la placa del vehiculo"  matInput  required  formControlName="plate" />
          <mat-error *ngIf="registerForm.controls['plate'].errors?.['required']"> *</mat-error>
        </mat-form-field>

      </div>

      <div class="item">
        <label >Categoría</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let categoria of lista_categoria" value="{{categoria}}" id="{{categoria}}">{{categoria}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.controls['category'].errors?.['required']"> *</mat-error>
        </mat-form-field>
      </div>
    
      <div class="item">
        <label >Marca</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una marca</mat-label>
          <mat-select formControlName="brand">
            <mat-option *ngFor="let marca of lista_marcas" value="{{marca}}" id="{{marca}}">{{marca}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.controls['brand'].errors?.['required']"> *</mat-error>
        </mat-form-field>

      </div>

      <div class="item">
        <label >Modelo</label>
        <mat-form-field appearance="fill">
          <mat-label>modelo</mat-label>
          <input type="text"   name="model" placeholder="Ingrese el modelo del vehiculo"  matInput  required formControlName="model"/>
          <mat-error *ngIf="registerForm.controls['model'].errors?.['required']"> *</mat-error>
        </mat-form-field>
             
      </div>

      <div class="item"> 

        <label >Color</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge un color</mat-label>
          <mat-select formControlName="color">
            <mat-option *ngFor="let color of lista_colores" value="{{color}}" id="{{color}}">{{color}}</mat-option>  
          </mat-select>
          <mat-error *ngIf="registerForm.controls['color'].errors?.['required']"> *</mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <label >Año</label>
        <mat-form-field appearance="fill">
          <mat-label>modelo</mat-label>
          <input type="number" min="1999" max="2023" class="text"  name="year" placeholder="Ingrese el año del vehiculo"  matInput  required formControlName="year"/>
          <mat-error *ngIf="registerForm.controls['year'].errors?.['required']"> *</mat-error>
        </mat-form-field>
      </div>

      <div class="item">
        <label >Sucursales</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una sucursal</mat-label>
          <mat-select formControlName="branch">
            <mat-option *ngFor="let sucursal of lista_sucursales" value="{{sucursal.name}}" id="{{sucursal.id}}">{{sucursal.name}}</mat-option>

          </mat-select>
          <mat-error *ngIf="registerForm.controls['branch'].errors?.['required']"> *</mat-error>
        </mat-form-field>

      </div>

      <div class="item">
        <label >Motor</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoja motor</mat-label>
          <mat-select formControlName="engine">
            <mat-option *ngFor="let motor of lista_motor" value="{{motor}}" id="{{motor}}">{{motor}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registerForm.controls['engine'].errors?.['required']"> *</mat-error>
        </mat-form-field>

      </div>  

      <div class="item">

        <label >Capacidad del tanque de gasolina</label>
        <mat-form-field appearance="fill">
          <mat-label>modelo</mat-label>
          <input type="number"   name="gas_tank_capacity" placeholder="Ingrese la capacidad del tanque de gasolina del vehiculo"  matInput  required formControlName="gas_tank_capacity"/>
          <mat-error *ngIf="registerForm.controls['gas_tank_capacity'].errors?.['required']"> *</mat-error>
        </mat-form-field>


      </div>



      <div class="caja_botones">
        <button mat-raised-button color="warn" class="format-button" (click)="onClickNO()">Cancelar</button>              
        <button mat-raised-button color="primary" class="format-button" type="submit" [mat-dialog-close]="true">Guardar</button>
      </div>




        
    </div>
    

</form>

</div>

