<section id="container" class="container">
        <div class="img-logo">
            <img src="../../../../assets/Iconos/app sepro vectores-30.png" alt="">
        </div>
        <div class="perfil">
            <img (click)="irPerfil()" src="../../../../assets/Iconos/app sepro vectores-63.png" alt="">
            <h1>{{nombre_perfil}}</h1>
            <span>Sucursales</span>
        </div>
    
        <div class="btn-banner">
            ADMINISTRAR BANNER
        </div>
        <br>
        <div (click)="logout()" class="btn-logout">
            <img class="img-fluid" src="../../../../assets/Iconos/app sepro vectores-88.png" alt="">
            <span >CERRAR SESIÓN</span>
        </div>
    
    
</section>
