<section id="container" class="container" style="display: flex; flex-direction: column; gap: 1rem;" *ngIf="this.datos_cargados">
        <div></div>
        <div class="img-logo">
            <img src="../../../../assets/Iconos/app sepro vectores-30.png" alt="">
        </div>
        <div class="perfil" > 
            <img (click)="irPerfil();" src="../../../../assets/Iconos/app sepro vectores-63.png" alt="">
            <h1>{{nombre_perfil}}</h1>
            <span>Sucursal: {{this.nombre_sucursal}}</span>
        </div>
    
        <div class="btn-banner">
            ADMINISTRAR BANNER
        </div>

        <div (click)="logout()" class="btn-logout" style="color:white">
            <img class="img-fluid" src="../../../../assets/Iconos/app sepro vectores-88.png" alt="">
            <span >CERRAR SESIÓN</span>
        </div>
    
    
</section>


<section *ngIf="!this.datos_cargados">
    <h1>cargando</h1>
    <h2>...</h2>
</section>


