

<div class="contenido" style="display: flex; flex-direction: column; gap: 5rem; padding: 5rem;">

  <h1>Crear Servicio</h1>
  
  <form [formGroup]="registerForm" (ngSubmit)="crearServicio(registerForm)" style="display: flex; flex-direction: column; gap: 3rem;">
    <div class="item">
      <label >Nombre del servicio</label>
      <mat-form-field appearance="fill">
        <mat-label>Nombre del servicio</mat-label>
        <input   type="text" id="fname" name="name"  matInput required formControlName="name"/>
        <mat-error *ngIf="registerForm.controls['name'].errors?.['required']"> *</mat-error>
        <mat-error *ngIf="registerForm.controls['name'].errors?.['pattern']"> Solo insertar letras</mat-error>
      </mat-form-field>

    </div>

    <div class="item">
      <label >Descripcion</label>
      <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <textarea name="description" id="description" cols="30" rows="5"matInput required formControlName="description"></textarea>
          <mat-error *ngIf="registerForm.controls['name'].errors?.['required']"> *</mat-error>
        <mat-error *ngIf="registerForm.controls['name'].errors?.['pattern']"> Solo insertar letras</mat-error>
      </mat-form-field>
     
    </div>

    <div class="item">
      <label >Fijar precio?</label>
      <p><mat-checkbox formControlName="set_price">Si</mat-checkbox></p>
    </div>

      
    <h2>Staff</h2>
    <form [formGroup]="staff_group" (ngSubmit)="addGuardia()" class="formato-mini-form">
      
      <div class="item">
        <label >Staff</label>
        <mat-form-field appearance="outline">
          <mat-label>Staff</mat-label>
          <mat-select formControlName="staff">
          <mat-option *ngFor="let staff of lista_staff" [value]="staff.name">{{staff.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="item">
        <label >staff opcional?</label>
        <p><mat-checkbox formControlName="staff_is_optional">Si</mat-checkbox></p>
      </div>

      <div class="item">
        <label >numero de staff es opcional?</label>
        <p><mat-checkbox formControlName="staff_number_is_optional">Si</mat-checkbox></p>
      </div>

      <div class="item" *ngIf="this.registerForm.value.set_price">
        <label >Precio del personal por hora</label>
        <mat-form-field appearance="fill">
          <mat-label>Precio del personal por hora</mat-label>
          <input   type="number"  matInput required formControlName="staff_price_per_hour"/>
        </mat-form-field>
      </div>

      <div class="item" *ngIf="this.registerForm.value.set_price">
        <label >Horas base del personal</label>
        <mat-form-field appearance="fill">
          <mat-label>Horas base del personal</mat-label>
          <input   type="number"  matInput required formControlName="staff_base_hour"/>
       </mat-form-field>
      </div>
      
      <button type="submit" [disabled]="!this.staff_group.valid" style="width: 4rem; height: 4rem;" mat-fab color="warn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" ></mat-icon>
      </button>

      
    </form><br>

    <table mat-table [dataSource]="this.staff_table" class="mat-elevation-z8 demo-table">
    
      <ng-container matColumnDef="Staff">
        <th mat-header-cell *matHeaderCellDef> Staff </th>
        <td mat-cell *matCellDef="let element"> {{element.staff}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Staff opcional">
        <th mat-header-cell *matHeaderCellDef> Staff Opcional </th>
        <td mat-cell *matCellDef="let element"> {{element.staff_is_optional}} </td>
      </ng-container>
    
      <ng-container matColumnDef="numero de staff ocional">
        <th mat-header-cell *matHeaderCellDef> Numero de staff opcional </th>
        <td mat-cell *matCellDef="let element"> {{element.staff_number_is_optional}} </td>
      </ng-container>
    
      <ng-container matColumnDef="precio de personal por hora">
        <th mat-header-cell *matHeaderCellDef> Precio de personal por hora </th>
        <td mat-cell *matCellDef="let element"> {{element.staff_price_per_hour}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Horas base del personal">
        <th mat-header-cell *matHeaderCellDef> Horas base del personal </th>
        <td mat-cell *matCellDef="let element"> {{element.staff_base_hour}} </td>
      </ng-container>
  
      <ng-container matColumnDef="botones">
        <th mat-header-cell *matHeaderCellDef> </th>
       <button mat-button *matCellDef="let element" type="button" (click)="eliminarStaff(element)">Eliminar</button>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnsStaff"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsStaff;"></tr>
      
    </table>
   

    <h2>Equipamiento</h2>

    <form [formGroup]="equipment_group" (ngSubmit)="addEquipamiento()" class="formato-mini-form">

      <div class="item">
        <mat-form-field appearance="outline">
          <mat-label>Equipamiento</mat-label>
          <mat-select formControlName="equipment">
          <mat-option *ngFor="let equipamiento of equipamiento_list" [value]="equipamiento">{{equipamiento}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="item">
        <label >equipamiento opcional?</label>
        <p><mat-checkbox formControlName="equipment_is_optional">Si</mat-checkbox></p>
      </div>

      <div class="item">
        <label >numero de equipamiento es opcional?</label>
        <p><mat-checkbox formControlName="equipment_number_is_optional">Si</mat-checkbox></p>
      </div>

      <div class="item" *ngIf="this.registerForm.value.set_price">
        <label >Precio del equipamiento</label>
        <mat-form-field appearance="outline">
          <mat-label>Precio del equipamiento</mat-label>
          <input   type="number"  matInput required formControlName="equipment_price"/>
       </mat-form-field>
      </div>

      <!-- Botón para agregar nuevo item -->
      <button type="submit" [disabled]="!this.equipment_group.valid" style="width: 4rem; height: 4rem;"mat-fab color="warn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" ></mat-icon>
      </button>
    </form>

    <table mat-table [dataSource]="this.equipment_table" class="mat-elevation-z8 demo-table">
    
      <ng-container matColumnDef="equipamiento">
        <th mat-header-cell *matHeaderCellDef> Equipamiento </th>
        <td mat-cell *matCellDef="let element"> {{element.equipment}} </td>
      </ng-container>
    
      <ng-container matColumnDef="equipamiento es optional">
        <th mat-header-cell *matHeaderCellDef> Equipamiento es opcional? </th>
        <td mat-cell *matCellDef="let element"> {{element.equipment_is_optional}} </td>
      </ng-container>
    
      <ng-container matColumnDef="numero de equipamiento es optional">
        <th mat-header-cell *matHeaderCellDef> Numero de equipamiento opcional </th>
        <td mat-cell *matCellDef="let element"> {{element.equipment_number_is_optional}} </td>
      </ng-container>
    
      <ng-container matColumnDef="precio del equipamiento">
        <th mat-header-cell *matHeaderCellDef> Precio del equipamiento</th>
        <td mat-cell *matCellDef="let element"> {{element.equipment_price}} </td>
      </ng-container>
  
      <ng-container matColumnDef="botones">
        <th mat-header-cell *matHeaderCellDef> </th>
       <button mat-button *matCellDef="let element" type="button" (click)="eliminarEquipamiento(element)">Eliminar</button>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipment"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsEquipment;"></tr>
      
    </table>




    
    <div class="item">
      <label >Requiere origen y destino (ubicacion)</label>
      <p><mat-checkbox formControlName="requires_origin_and_destination">Si</mat-checkbox></p>
    </div>

    <div  *ngIf="this.registerForm.value.requires_origin_and_destination ">
      <div class="item" *ngIf="this.registerForm.value.set_price">
        <label >Precio base</label>
        <mat-form-field appearance="fill">
          <mat-label>Precio base</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="base_price"/>
        </mat-form-field>
      </div>

      <div class="item" *ngIf="this.registerForm.value.set_price">
        <label >Precio Rango 1</label>
        <mat-form-field appearance="fill">
          <mat-label>Precio Rango 1</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="price_range1"/>
        </mat-form-field>
      </div>

      <div class="item" *ngIf="this.registerForm.value.set_price">
        <label >Precio Rango 2</label>
        <mat-form-field appearance="fill">
          <mat-label>Precio Rango 2</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="price_range2"/>
       </mat-form-field>
      </div>
      
      <div class="item" *ngIf="this.registerForm.value.set_price">
        <label >Precio Rango 3</label>
        <mat-form-field appearance="fill">
          <mat-label>Precio Rango 3</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="price_range3"/>
        </mat-form-field>
      </div>

      <div class="item">
        <label >Inicio Rango 1</label>
        <mat-form-field appearance="fill">
          <mat-label>Inicio Rango 1</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="lower_limit1"/>
        </mat-form-field>
      </div>

      <div class="item">
        <label >Fin Rango 1</label>
        <mat-form-field appearance="fill">
          <mat-label>Fin Rango 1</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="upper_limit1"/>
       </mat-form-field>
      </div>

      <div class="item">
        <label >Inicio Rango 2</label>
        <mat-form-field appearance="fill">
          <mat-label>Inicio Rango 2</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="lower_limit2"/>
        </mat-form-field>
      </div>

      <div class="item">
        <label >Fin Rango 2</label>
        <mat-form-field appearance="fill">
          <mat-label>Fin Rango 2</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="upper_limit2"/>
       </mat-form-field>
      </div>

      <div class="item">
        <label >Inicio Rango 3</label>
        <mat-form-field appearance="fill">
          <mat-label>Inicio Rango 3</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="lower_limit3"/>
       </mat-form-field>
      </div>

      <div class="item">
        <label >Fin Rango 3</label>
        <mat-form-field appearance="fill">
          <mat-label>Fin Rango 3</mat-label>
          <input   type="number" id="fname" name="name"  matInput required formControlName="upper_limit3"/>
        </mat-form-field>
        
      </div>

  
    </div>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <button mat-raised-button color="primary" type="submit" style="width: 50%;">enviar</button>
    </div>

  
  </form>


    

  
 