<form  id="login-form" class="login-form" [formGroup]="registerForm" autocomplete="on" (ngSubmit)="editarCelular(registerForm)">
   
    <div>

        <label class="label-email">Marca</label>
        <input type="text" id="fname"  name="marca" placeholder="Ingrese el marca" tabindex="1" matInput class="form-control form-control-lg" required
        formControlName="brand"/>
        <mat-error *ngIf="registerForm.controls['brand'].errors?.['required']"> *</mat-error>
 

    </div>
    
    <div>
      <label class="label-email">Modelo</label>
      <input type="text" id="fname"  name="marca" placeholder="Ingrese la marca" tabindex="1" matInput class="form-control form-control-lg" required
      formControlName="model">
      <mat-error *ngIf="registerForm.controls['model'].errors?.['required']"> *</mat-error>
    </div>
    
    <div>
      
          <label class="label-email">Número de teléfono</label>
          <input type="text" id="fname"  name="marca" placeholder="Ingrese el numero de teléfono" tabindex="1" matInput class="form-control form-control-lg" required
          formControlName="phone_number"/>
          <mat-error *ngIf="registerForm.controls['phone_number'].errors?.['required']"> *</mat-error>
       
  </div>

  <div>
      <label class="label-email">Color</label>
      <input type="text" class="text" id="fname" name="color" placeholder="Ingrese el color" tabindex="1" matInput class="form-control form-control-lg" required
      formControlName="color"/>
      <mat-error *ngIf="registerForm.controls['color'].errors?.['required']"> *</mat-error>
    </div>

    <div>
        <label class="label-email">Año compra</label>
        <input type="date" class="text" id="fname" name="color" placeholder="Ingrese el año de compra" tabindex="1" matInput class="form-control form-control-lg" required
        formControlName="purchase_date" />
        <mat-error *ngIf="registerForm.controls['purchase_date'].errors?.['required']"> *</mat-error>
      </div>


      <div>
        <label class="label-email">Sucursal</label>
        <mat-form-field appearance="fill">
          <mat-label>Escoge una sucursal</mat-label>
            <mat-select formControlName="branch">
              <mat-option *ngFor="let sucursal of lista_sucursales" value="{{sucursal.name}}" id="{{sucursal.id}}">{{sucursal.name}}</mat-option>

            </mat-select>
        </mat-form-field>      
        <mat-error *ngIf="registerForm.controls['branch'].errors?.['required']"> *</mat-error>
      </div>

    
    
    <div class="column botonesConf">
      <button class="botonesConf" mat-button (click)="onClickNO()">Cancelar</button>              
      <button class="botonesConf" mat-button type="submit" [mat-dialog-close]="true">Guardar</button>
    </div>
    
    <!--
    <input type="submit" value="Confirmar" />
    -->
</form>
