<app-header></app-header>

<div class="wrapper">
    <div class="bottom_nav" >
      <div id="navbarResponsive2">
      <ul>
        <li><a  routerLinkActive="active" routerLink="/serviciosEnCurso">En Curso</a></li>
        <li><a routerLinkActive="active" routerLink="/serviciosPorAsignar">Por asignar</a></li>
        <li><a routerLinkActive="active" routerLink="/serviciosTipo" href="#">Tipo</a></li>
        
      </ul>
    </div>
    </div>
</div>
<div class="servicios">


  <div class="contenedor_servicios">

    <div *ngFor="let servicio of lista_Servicio" id="{{servicio.nombreServicio}}" class="servicio_especifico">

      <img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-12.png" alt=""><!-- Circulo amarillo -->


      <div class="detalles">
        <h1>{{servicio.nombreServicio.replaceAll('_',' ')}}</h1>
        <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-19.png" alt="">
        <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png"
        alt="" (click)="enviar_servicio_seleccionado(servicio.nombreServicio)">
      </div>

    </div>

    <div id="CUSTODIA ARMADA" class="servicio_especifico">
      <img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-12.png" alt="">

      <div class="detalles">
        <h1>CUSTODIA ARMADA</h1>
        <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-19.png" alt="">
        <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="">
      </div>
    </div>

    <div id="GUARDIA DE SEGURIDAD" class="servicio_especifico">
      <!--<img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-15.png" alt="">-->
      <img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-12.png" alt="">


      <div class="detalles">
        <h1>GUARDIA DE SEGURIDAD</h1>
        <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-20.png" alt="">
        <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="">
      </div>
    </div>

    <div id="CHOFER SEGURO" class="servicio_especifico">
      <img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-12.png" alt="">

      <div class="detalles">
        <h1>CHOFER SEGURO</h1>
        <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-17.png" alt="">
        <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="">
      </div>
    </div>

    <div id="TRANSPORTE SEGURO" class="servicio_especifico">
      <!--<img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-15.png" alt="">-->
      <img id="Base_Circulo" src="../../assets/Iconos/app sepro vectores-12.png" alt="">


      <div class="detalles">
        <h1>TRANSPORTE SEGURO</h1>
        <img class="logo-servicio" src="../../assets/Iconos/app sepro vectores-18.png" alt="">
        <img class="btn-detalle" src="../../assets/Iconos/app sepro vectores-21.png" alt="">
      </div>
    </div>



  </div>

  
  

</div>

<div class="area_Boton">
  <button type="button" class="btn_Crear_Servicio btn btn-primary" routerLink="/servicioCrear">Crear Servicio</button>
</div>

