<app-header></app-header>

<div class="wrapper">
    <div class="bottom_nav" >
      <div id="navbarResponsive2">
      <ul>
        <li class="link-style" routerLinkActive="active" routerLink="serviciosEnCurso">Servicios en Curso</li>
        <li class="link-style" routerLinkActive="active" routerLink="serviciosPorAsignar">Servicios por asignar</li>
        <li class="link-style" routerLinkActive="active" routerLink="serviciosTipo">Servicios Existentes</li>
        <li class="link-style" routerLinkActive="active" routerLink="todosLosServicios">Todos los servicios</li>

        
      </ul>
    </div>
    </div>
</div>
<div class="servicios">
  <router-outlet></router-outlet>
</div>



  
