<div *ngIf="this.datos_cargados" style=" font-family: 'Bahnschrift';">  
  <div class="row">

    <div class="column" >
      <div class="informacion_cliente" style="text-align:start;"> 
        <h2 >Datos del servicio</h2>

        <div class="Fila_Datos">
          <h6>ID:</h6>
          <h6 id="valor">{{pedido_a_asignar.idPedido}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Usuario solicitante:</h6>
          <h6 id="valor">{{this.nombre_cliente.first_name}} {{this.nombre_cliente.last_name}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Nombre del servicio:    </h6>
          <h6 id="valor">{{this.nombre_servicio.name}}</h6>
        </div>  

        <div class="Fila_Datos">
          <h6>Fecha de solicitud:</h6>
          <h6 id="valor">{{pedido_a_asignar.fecha_Solicitud}}</h6>
        </div>

        <div class="Fila_Datos" >
          <h6>Ubicación:   </h6>
          <h6><button mat-button style="font-size:small;" (click)="abrirUbicacion()">Abrir ubicación</button></h6>
        </div>

        <div class="Fila_Datos">
          <h6>Distancia en kilómetros:</h6>
          <h6 id="valor">{{this.pedido_a_asignar.distancia_en_km}} Km</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Fecha Inicio: </h6>
          <h6 id="valor">{{pedido_a_asignar.fecha_Inicio}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Fecha Finalización:</h6>
          <h6 id="valor">{{pedido_a_asignar.fecha_Finalizacion}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Hora Inicio:</h6>
          <h6 id="valor">{{pedido_a_asignar.hora_Inicio}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Hora Finalización:</h6>
          <h6 id="valor">{{pedido_a_asignar.hora_Finalizacion}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Método de pago: </h6>
          <h6 id="valor">{{pedido_a_asignar.metodo_Pago}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Estado:</h6>
          <h6 id="valor">{{registerForm.value.status}}</h6>

        </div>

        <div class="Fila_Datos">
          <h6>Empleado líder:</h6>
          <h6 id="valor">{{this.registerForm.value.staff_leader.split(';')[1]}} {{this.registerForm.value.staff_leader.split(';')[2]}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Pago</h6>
          <h6 id="valor">${{this.registerForm.value.total}}</h6>
        </div>

        <div class="Fila_Datos">
          <h6>Cuenta asignada</h6>
          <h6 id="valor">{{this.registerForm.value.phone_account.split(";")[1]}}</h6>
        </div>


      </div>
    </div>



    <div class="column" style="text-align:start;">
      <h2>Asignación</h2>


      <form [formGroup]="registerForm" (ngSubmit)="imprimirFormulario()" style="display: flex; flex-direction: column; width: auto; gap: 1rem;">

        <h4 style="margin-top: 2rem; margin-bottom: 2rem;">Cantidad de empleados requeridos:</h4>

        <div class="Fila_Datos" *ngFor="let staff of this.lista_staff_object">
          <h6>{{staff.nombre}}:</h6>
          <h6 id="valor">{{staff.cantidad}}</h6>
        </div>

        <form [formGroup]="asigned_staff">

            <mat-form-field *ngIf="this.guardiasBool" appearance="fill" ngIfNoWhitespace>
              <mat-label>Guardias</mat-label>
              <mat-select (ngModelChange)="this.controlButtonGuardia($event)" formControlName="guardias" multiple>
                <mat-option *ngFor="let personal of lista_guardias" value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                  {{personal.first_name}} {{personal.last_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="!this.boton_deshabilitado_guardia">
                No se pueden agregar más de n elementos a la lista.
              </mat-error>
            </mat-form-field>
        
      
          <mat-form-field *ngIf="this.guardaespaldasBool" appearance="fill" ngIfNoWhitespace>
            <mat-label> Chofer guardaespaldas</mat-label>
            <mat-select (ngModelChange)="this.controlButtonGuardaespalda($event)" formControlName="guardaespaldas" multiple>
              <mat-option *ngFor="let personal of lista_guardaespaldas"  value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                {{personal.first_name}} {{personal.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field *ngIf="this.conductorBool" appearance="fill" ngIfNoWhitespace>
            <mat-label>Choferes</mat-label>
            <mat-select (ngModelChange)="this.controlButtonConductor($event)" formControlName="conductores" multiple>
              <mat-option *ngFor="let personal of lista_conductor"  value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                {{personal.first_name}} {{personal.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field *ngIf="this.motorizadosBool" appearance="fill" ngIfNoWhitespace>
            <mat-label>Motorizados</mat-label>
            <mat-select (ngModelChange)="this.controlButtonMotorizado($event)" formControlName="motorizados" multiple>
              <mat-option *ngFor="let personal of lista_motorizado"  value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                {{personal.first_name}} {{personal.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </form>

        <mat-form-field appearance="fill" ngIfNoWhitespace>
          <mat-label>Empleado líder</mat-label>
          <mat-select (ngModelChange)="controlButtonEmpleadoLider($event)" formControlName="staff_leader">
            <mat-option *ngFor="let personal of this.concatenarListas()" value="{{personal}}"> 
              {{personal.split(';')[1]}} {{personal.split(';')[2]}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <h4 style="margin-top: 2rem; margin-bottom: 2rem;">Cantidad de equipamiento requerido</h4>

        <div class="Fila_Datos" *ngFor="let equipment of this.lista_equipment_object">
          <h6>{{equipment.nombre}}:</h6>
          <h6 id="valor">{{equipment.cantidad}}</h6>
        </div>
        <br><br>

        <form  [formGroup]="asigned_equipment">
          <mat-form-field *ngIf="this.vehiculosBool" appearance="fill" ngIfNoWhitespace>
            <mat-label>Vehículos</mat-label>
            <mat-select (ngModelChange)="controlButtonVehiculos($event)" formControlName="vehiculos" multiple>
              <mat-option *ngFor="let vehiculo of lista_vehiculos" value="{{vehiculo.id}};{{vehiculo.model}};{{vehiculo.plate}}">
                placa: {{vehiculo.plate}}
                modelo: {{vehiculo.model}}
      
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field *ngIf="this.candadosBool" appearance="fill" ngIfNoWhitespace>
            <mat-label>Candados</mat-label>
            <mat-select (ngModelChange)="controlButtonCandados($event)" formControlName="candados" multiple>
              <mat-option *ngFor="let candado of lista_candados" value="{{candado.id}};{{candado.serial_number}};{{candado.brand}};{{candado.model}}">
              {{candado.brand}} {{candado.model}}
                
              </mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field *ngIf="this.armamentoBool" appearance="fill" ngIfNoWhitespace>
            <mat-label>Armamento</mat-label>
            <mat-select (ngModelChange)="controlButtonArmamento($event)" formControlName="armamentos" multiple>
              <mat-option *ngFor="let armamento of lista_armamentos" value="{{armamento.id}};{{armamento.brand}};{{armamento.model}}">
                {{armamento.model}}
              </mat-option>
            </mat-select>
          </mat-form-field>

      
          <mat-form-field appearance="fill" ngIfNoWhitespace>
            <mat-label>Móvil</mat-label>
            <mat-select (ngModelChange)="controlButtonMovil($event)" formControlName="movil">
              <mat-option *ngFor="let movil of lista_moviles" value="{{movil.id}};{{movil.brand}};{{movil.model}}">
                modelo: {{movil.model}}
                <!-- numero de telefono: {{movil.phone_number}} -->
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
  
      <mat-form-field appearance="fill" ngIfNoWhitespace>
        <mat-label>Cuenta asignada</mat-label>
        <mat-select (ngModelChange)="controlButtonControlCuenta($event)" formControlName="phone_account" >
          <mat-option *ngFor="let cuenta of lista_cuentas" value="{{cuenta.id}};{{cuenta.first_name}}">
            {{cuenta.first_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select (ngModelChange)="controlButtonStatus($event)" formControlName="status">
          <mat-option  *ngFor="let estado of lista_estados" value="{{estado}}">
            {{estado}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field *ngIf="this.costoBoolean" appearance="fill" ngIfNoWhitespace>
        <mat-label>Costo</mat-label>
        <input formControlName="total" matInput type="number" >
      </mat-form-field>
  

      <h4>Detalles:</h4>
        <div>
          <h6>Empleados asignados:</h6>
          <div class="Fila_Datos">
            <div>
              <ul *ngIf="this.asigned_staff.value.guardias.length !== 0" >
                <th>Guardias: </th>
                <li *ngFor="let guardias of this.asigned_staff.value.guardias">
                  <h6>
                    {{guardias.split(';')[1]}} {{guardias.split(';')[2]}}
                </h6> 
               </li>
              </ul>
            </div>

            <div>
              <ul *ngIf="this.asigned_staff.value.guardaespaldas.length !== 0" ngIfNoWhitespace>
                <th>Guardaespaldas:</th>
                <li *ngFor="let guardaespalda of this.asigned_staff.value.guardaespaldas">
                  <h6>{{guardaespalda.split(';')[1]}} {{guardaespalda.split(';')[2]}}</h6>
                </li>
              </ul>
            </div>

            <div>
              <ul *ngIf="this.asigned_staff.value.motorizados.length !== 0">
                <th>Motorizados:</th>
                <li *ngFor="let motorizado of this.asigned_staff.value.motorizados">
                  <h6>{{motorizado.split(';')[1]}} {{motorizado.split(';')[2]}}</h6>

                </li>
              </ul>
            </div>

            <div>
              <ul *ngIf="this.asigned_staff.value.conductores.length !== 0">
                <th>Conductores:</th>
                <li *ngFor="let conductor of this.asigned_staff.value.conductores">
                  <h6>{{conductor.split(';')[1]}} {{conductor.split(';')[2]}}</h6>
                </li>
              </ul>
            </div>

          </div>

        </div>

        <div>
          <h6 >Equipamento: </h6>
          <div class="Fila_Datos">
            <div>
              <ul *ngIf="this.asigned_equipment.value.vehiculos.length !== 0">
                <th>Vehículos:</th>
                <li *ngFor="let vehiculo of this.asigned_equipment.value.vehiculos">
                  <h6>
                    modelo: {{vehiculo.split(';')[1]}}
                  </h6>
                  <h6>
                    placa: {{vehiculo.split(';')[2]}}
                  </h6>
                </li>
              </ul>
            </div>

            <div>
              <ul *ngIf="this.asigned_equipment.value.candados.length !== 0">
                <th>Candados:</th>
                <li *ngFor="let candado of this.asigned_equipment.value.candados">
                  <h6>
                    numero serial: {{candado.split(';')[0]}}
                  </h6>
                  <h6>
                    marca: {{candado.split(';')[1]}}
                  </h6>
                  <h6>
                    modelo: {{candado.split(';')[2]}}
                  </h6>
                </li>
              </ul>
            </div>

            <div>
              <ul *ngIf="this.asigned_equipment.value.armamentos.length !== 0">
                <th>Armamentos:</th>
                <li *ngFor="let armamento of this.asigned_equipment.value.armamentos">
                  <h6>
                    numero serial: {{armamento.split(';')[0]}} 
                  </h6>
                  <h6>
                    marca: {{armamento.split(';')[1]}}
                  </h6>
                  <h6>
                    modelo: {{armamento.split(';')[2]}}
                  </h6>
                </li>
              </ul>
            </div>

            <div>
              <ul *ngIf="this.asigned_equipment.value.movil.length !== 0">
                <th>Móvil:</th>
                <li>
                  <h6>
                    numero serial: {{this.asigned_equipment.value.movil.split(';')[0]}}
                  </h6>
                  <h6>
                    marca: {{this.asigned_equipment.value.movil.split(';')[1]}}
                  </h6>
                  <h6>
                    modelo: {{this.asigned_equipment.value.movil.split(';')[2]}}
                  </h6>
                </li>
              </ul>
            </div>
            
          </div>


        </div>

          
          

          

          


  
      <button mat-flat-button color="primary"
        [disabled]="
          (this.boton_deshabilitado_guardia || this.boton_deshabilitado_conductor || this.boton_deshabilitado_guardaespalda || this.boton_deshabilitado_motorizado || 
          this.boton_deshabilitado_empleado_lider || this.boton_deshabilitado_vehiculo || this.boton_deshabilitado_candados || this.boton_deshabilitado_armamento || 
          this.boton_deshabilitado_movil || this.boton_deshabilitado_cuenta_asignada || this.boton_deshabilitado_estado)"
        type="submit" (click)="enviarNotificacionAlCliente()">Asignar pedido</button>

        <button mat-flat-button color="warn" type="button">Reembolso</button>

      <!-- <button mat-flat-button color="warn">Reembolso</button> -->


      </form>

      

      

    <!-- <input type="image" id="img-guardar" (click)="actualizar_pedido()" src="../../assets/Iconos/app sepro vectores-46.png"
    alt=""> -->

    </div>


</div>

</div>

<div *ngIf="!this.datos_cargados" style="display: flex; flex-direction: column; align-items: center; margin-top: 40vh;">
  <mat-spinner></mat-spinner>
</div>

