<div *ngIf="this.datos_cargados" style=" font-family: 'Bahnschrift';">
  <h6>{{mensaje}}</h6>
  <div class="row">

    <div class="column" >
      <div class="informacion_cliente" style="text-align:start;"> 
        <h2 >Datos del servicio</h2>

        <div class="Fila_Datos">
          <h5>ID:</h5>
          <h5 id="valor">{{pedido_a_asignar.idPedido}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Usuario solicitante:</h5>
          <h5 id="valor">{{this.nombre_cliente.first_name}} {{this.nombre_cliente.last_name}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Nombre del servicio:    </h5>
          <h5 id="valor">{{this.nombre_servicio.name}}</h5>
        </div>  

        <div class="Fila_Datos">
          <h5>Fecha de solicitud:</h5>
          <h5 id="valor">{{pedido_a_asignar.fecha_Solicitud}}</h5>
        </div>

        <div class="Fila_Datos" >
          <h5>Ubicacion:   </h5>
          <h5><button mat-button style="font-size: large;" (click)="abrirUbicacion()">Abrir ubicacion</button></h5>
        </div>

        <div class="Fila_Datos">
          <h5>Fecha Inicio: </h5>
          <h5 id="valor">{{pedido_a_asignar.fecha_Inicio}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Fecha Finalizacion:</h5>
          <h5 id="valor">{{pedido_a_asignar.fecha_Finalizacion}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Hora Inicio:</h5>
          <h5 id="valor">{{pedido_a_asignar.hora_Inicio}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Hora Finalizacion:</h5>
          <h5 id="valor">{{pedido_a_asignar.hora_Finalizacion}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Metodo de pago: </h5>
          <h5 id="valor">{{pedido_a_asignar.metodo_Pago}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Estado:</h5>
          <h5 id="valor">{{registerForm.value.status}}</h5>

        </div>

        <div class="Fila_Datos">
          <h5>Staff leader:</h5>
          <h5 id="valor">{{this.registerForm.value.staff_leader.split(';')[1]}} {{this.registerForm.value.staff_leader.split(';')[2]}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Pago</h5>
          <h5 id="valor">${{this.registerForm.value.total}}</h5>
        </div>

        <div class="Fila_Datos">
          <h5>Cuenta asignada</h5>
          <h5 id="valor">{{this.registerForm.value.phone_account.split(";")[1]}}</h5>
        </div>

        
        <h2 style="margin-top: 2rem; margin-bottom: 2rem;">Cantidad de empleados requeridos:</h2>

        

        <div class="Fila_Datos" *ngFor="let staff of this.lista_staff_object">
          <h5>{{staff.nombre}}:</h5>
          <h5 id="valor">{{staff.cantidad}}</h5>
        </div>

        <h2 style="margin-top: 2rem; margin-bottom: 2rem;">Cantidad de equipamiento requerido</h2>

        <div class="Fila_Datos" *ngFor="let equipment of this.lista_equipment_object">
          <h5>{{equipment.nombre}}:</h5>
          <h5 id="valor">{{equipment.cantidad}}</h5>
        </div>


        <h3 >Detalles:</h3>
        <h5 id="detalles"></h5>


        <div class="Fila_Datos">
          <h4 >Empleados asignados:</h4>
        </div>
          
        
          <h5  *ngIf="this.asigned_staff.value.guardias.length !== 0">lista guardias: 
            <p *ngFor="let guardias of this.asigned_staff.value.guardias">
              {{guardias.split(';')[1]}} {{guardias.split(';')[2]}}
            </p>
          </h5>

          <h5 *ngIf="this.asigned_staff.value.guardaespaldas.length !== 0">lista guardaespaldas: 
            <p *ngFor="let guardaespalda of this.asigned_staff.value.guardaespaldas">
              {{guardaespalda.split(';')[1]}} {{guardaespalda.split(';')[2]}}
            </p>
          </h5>

          <h5 *ngIf="this.asigned_staff.value.motorizados.length !== 0">lista motorizados: 
            <p *ngFor="let motorizado of this.asigned_staff.value.motorizados">
              {{motorizado.split(';')[1]}} {{motorizado.split(';')[2]}}
            </p>
          </h5>

          <h5 *ngIf="this.asigned_staff.value.conductores.length !== 0">lista conductores: 
            <p *ngFor="let conductor of this.asigned_staff.value.conductores">
              {{conductor.split(';')[1]}} {{conductor.split(';')[2]}}
            </p>
          </h5>

          <div class="Fila_Datos">
            <h4 >Equipamento</h4>
          </div>

          

          <h5 *ngIf="this.asigned_equipment.value.vehiculos.length !== 0">
            Lista vehiculos:
            <p *ngFor="let vehiculo of this.asigned_equipment.value.vehiculos">
              modelo: {{vehiculo.split(';')[1]}}, placa: {{vehiculo.split(';')[2]}}
            </p>
          </h5>

          <h5 *ngIf="this.asigned_equipment.value.candados.length !== 0">
            Lista Candados:
            <p *ngFor="let candado of this.asigned_equipment.value.candados">
              numero serial: {{candado.split(';')[1]}}, marca: {{candado.split(';')[2]}}, modelo: {{candado.split(';')[2]}}
            </p>
          </h5>

          <h5 *ngIf="this.asigned_equipment.value.armamentos.length !== 0">
            Lista armamentos:
            <p *ngFor="let armamento of this.asigned_equipment.value.armamentos">
              numero serial: {{armamento.split(';')[1]}}, marca: {{armamento.split(';')[2]}}, modelo: {{armamento.split(';')[2]}}
            </p>
          </h5>

          <h5 *ngIf="this.asigned_equipment.value.movil.length !== 0">
               móviles:
            <p>
              numero serial: {{this.asigned_equipment.value.movil.split(';')[1]}}, marca: {{this.asigned_equipment.value.movil.split(';')[2]}}, modelo: {{this.asigned_equipment.value.movil.split(';')[2]}}
            </p>
          </h5>

      </div>
    </div>



    <div class="column" style="text-align:start;">
      <h2>Asignacion</h2>
      <br>
      <br>

      <form [formGroup]="registerForm" (ngSubmit)="imprimirFormulario()" style="display: flex; flex-direction: column; width: auto; gap: 1rem;">


        <form [formGroup]="asigned_staff" >

            <mat-form-field *ngIf="this.guardiasBool" appearance="fill">
              <mat-label>Guardias</mat-label>
              <mat-select (ngModelChange)="this.controlButtonGuardia($event)" formControlName="guardias" multiple>
                <mat-option *ngFor="let personal of lista_guardias" value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                  {{personal.first_name}} {{personal.last_name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="!this.boton_deshabilitado_guardia">
                No se pueden agregar más de n elementos a la lista.
              </mat-error>
            </mat-form-field>
          <br>
      
          <mat-form-field *ngIf="this.guardaespaldasBool" appearance="fill">
            <mat-label> Chofer guardaespaldas</mat-label>
            <mat-select (ngModelChange)="this.controlButtonGuardaespalda($event)" formControlName="guardaespaldas" multiple>
              <mat-option *ngFor="let personal of lista_guardaespaldas"  value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                {{personal.first_name}} {{personal.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
      
          <mat-form-field *ngIf="this.conductorBool" appearance="fill">
            <mat-label>Conductores</mat-label>
            <mat-select (ngModelChange)="this.controlButtonConductor($event)" formControlName="conductores" multiple>
              <mat-option *ngFor="let personal of lista_conductor"  value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                {{personal.first_name}} {{personal.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
      
          <mat-form-field *ngIf="this.motorizadosBool" appearance="fill">
            <mat-label>Motorizados</mat-label>
            <mat-select (ngModelChange)="this.controlButtonMotorizado($event)" formControlName="motorizados" multiple>
              <mat-option *ngFor="let personal of lista_motorizado"  value="{{personal.id}};{{personal.first_name}};{{personal.last_name}}">
                {{personal.first_name}} {{personal.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </form>

        <mat-form-field appearance="fill">
          <mat-label>Empleado lider</mat-label>
          <mat-select (ngModelChange)="controlButtonEmpleadoLider($event)" formControlName="staff_leader">
            <mat-option *ngFor="let personal of this.concatenarListas()" value="{{personal}}"> 
              {{personal.split(';')[1]}} {{personal.split(';')[2]}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <form  [formGroup]="asigned_equipment" >
          <mat-form-field *ngIf="this.vehiculosBool" appearance="fill">
            <mat-label>Vehiculos</mat-label>
            <mat-select (ngModelChange)="controlButtonVehiculos($event)" formControlName="vehiculos" multiple>
              <mat-option *ngFor="let vehiculo of lista_vehiculos" value="{{vehiculo.id}};{{vehiculo.model}};{{vehiculo.plate}}">
                placa: {{vehiculo.plate}}
                modelo: {{vehiculo.model}}
      
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
      
          <mat-form-field *ngIf="this.candadosBool" appearance="fill">
            <mat-label>Candados</mat-label>
            <mat-select (ngModelChange)="controlButtonCandados($event)" formControlName="candados" multiple>
              <mat-option *ngFor="let candado of lista_candados" value="{{candado.id}};{{candado.serial_number}};{{candado.brand}};{{candado.model}}">
              {{candado.brand}} {{candado.model}}
                
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
      
          <mat-form-field *ngIf="this.armamentoBool" appearance="fill">
            <mat-label>Armamento</mat-label>
            <mat-select (ngModelChange)="controlButtonArmamento($event)" formControlName="armamentos" multiple>
              <mat-option *ngFor="let armamento of lista_armamentos" value="{{armamento.id}};{{armamento.brand}};{{armamento.model}}">
                {{armamento.model}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
      
          <mat-form-field appearance="fill">
            <mat-label>Movil</mat-label>
            <mat-select (ngModelChange)="controlButtonMovil($event)" formControlName="movil">
              <mat-option *ngFor="let movil of lista_moviles" value="{{movil.id}};{{movil.brand}};{{movil.model}}">
                modelo: {{movil.model}}
                <!-- numero de telefono: {{movil.phone_number}} -->
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

        </form>
  
      <mat-form-field appearance="fill">
        <mat-label>Cuenta asignada</mat-label>
        <mat-select (ngModelChange)="controlButtonControlCuenta($event)" formControlName="phone_account" >
          <mat-option *ngFor="let cuenta of lista_cuentas" value="{{cuenta.id}};{{cuenta.first_name}}">
            {{cuenta.first_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select (ngModelChange)="controlButtonStatus($event)" formControlName="status">
          <mat-option  *ngFor="let estado of lista_estados" value="{{estado}}">
            {{estado}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
  
      <mat-form-field *ngIf="this.costoBoolean" appearance="fill">
        <mat-label>Costo</mat-label>
        <input formControlName="total" matInput type="number" >
      </mat-form-field>
      <br>
  
      
  
      
  
      <button mat-flat-button color="primary"
        [disabled]="
          (this.boton_deshabilitado_guardia || this.boton_deshabilitado_conductor || this.boton_deshabilitado_guardaespalda || this.boton_deshabilitado_motorizado || 
          this.boton_deshabilitado_empleado_lider || this.boton_deshabilitado_vehiculo || this.boton_deshabilitado_candados || this.boton_deshabilitado_armamento || 
          this.boton_deshabilitado_movil || this.boton_deshabilitado_cuenta_asignada || this.boton_deshabilitado_estado)"
        type="submit" (click)="enviarNotificacionAlCliente()">Asignar pedido</button>

      <button mat-flat-button color="warn">Reembolso</button>
      <!-- <button mat-flat-button color="success" type="button" (click)="enviarNotificacionAlCliente()">Print</button> -->


      </form>

      

      

    <!-- <input type="image" id="img-guardar" (click)="actualizar_pedido()" src="../../assets/Iconos/app sepro vectores-46.png"
    alt=""> -->

    </div>


</div>

</div>

<div *ngIf="!this.datos_cargados" style="display: flex; flex-direction: column; align-items: center; margin-top: 40vh;">
  <mat-spinner></mat-spinner>
</div>

