<mat-card class="example-card" style=" height:40vh;max-width: 100vh;max-height: 100vh;">
    <mat-card-header>
      <mat-card-title-group >
        <mat-card-title><b></b>{{this.cuentaTelefono.email}}</mat-card-title>
        <mat-card-subtitle>Contraseña: {{this.cuentaTelefono.password}}</mat-card-subtitle>    
      </mat-card-title-group>
      <img mat-card-md-image src="assets/logo.png"  alt="Image of a Shiba Inu">
    </mat-card-header>
    <mat-card-content>
      <p><b>Activo:</b> {{this.cuentaTelefono.is_active}}</p>
      <p><b>Nombre dispositivo:</b> {{this.cuentaTelefono.first_name}}</p>
      
      

    </mat-card-content>
  </mat-card>

