<app-header></app-header>

<div class="wrapper">
<div class="bottom_nav" >
  <div id="navbarResponsive2">
  <ul>
    <li class="link-style" routerLink="vehiculosSec">Vehiculos</li>
    <li class="link-style" routerLink="armasSec">Armamentos</li>
    <li class="link-style" routerLink="candadosSec">Candados Satelital</li>
    <li class="link-style" routerLink="celularesSec">Celulares</li>
    
  </ul>
</div>
</div>
</div>
<section class="page-section portfolio" id="portfolio">
</section>
<router-outlet></router-outlet>
  
