<div class="main-div flex-center">
    <div class="header flex-center">
        <img src="../../../../assets/Iconos/app sepro vectores-30.png">
    </div>
    <div class="terms">
        <div class="title flex-center">ELIMINACIÓN DE CUENTA DE SEPROAMERICA</div>
        <div class="content flex-center">
            Por favor, ten en cuenta que una vez que hayas seguido este proceso, tu cuenta será eliminada de forma permanente. No se conservará ningún dato y no será posible restablecerla.

Para solicitar la eliminación de tu cuenta, envía un correo electrónico a info@seproamerica.com.ec desde la dirección de correo electrónico asociada a tu cuenta. El asunto del correo debe ser “ELIMINACIÓN DE CUENTA” y en el cuerpo del correo debes explicar el motivo por el cual deseas eliminar tu cuenta.

Una vez que hayamos recibido tu solicitud, te enviaremos un correo electrónico informándote de que procederemos con la eliminación de tu cuenta 24 horas después de haber recibido tu correo.

Si cambias de opinión y decides no eliminar tu cuenta, puedes enviar otro correo con el asunto “NO ELIMINACIÓN DE CUENTA”. Esto detendrá el proceso de eliminación y podrás seguir conservando tu cuenta.
        </div>
    </div>
</div>
