
  <div class="contenedor-principal">
    <div class="contenedor-secundario">
    <img *ngIf="this.data.url_img === null" ngIfNoWhitespace style="width: 10rem; height: 8rem; margin-bottom: 0.25rem;" src="../../../../assets/img/iconopersona.png" alt="">
    <img *ngIf="this.data.url_img !== null" ngIfNoWhitespace style="width: 10rem; height: 8rem; margin-bottom: 0.25rem; border-radius: 10rem;" [src]="this.data.url_img " alt="">
      <div class="contenedor-informacion">
        <h4>
          {{this.personal.first_name}}<br>{{this.personal.last_name}}
        </h4>
        <h5 style="color: #959595;">
          {{this.personal.dni}}
        </h5>
        <h4 *ngIf="this.personal.is_active" style="color: #34604e;"><b>Activo</b></h4>
        <h4 *ngIf="!this.personal.is_active" style="color: #c83b44;"><b>No Activo</b></h4>
        <button mat-flat-button type="button" style="background-color: #145e3b; color: white;" (click)="onClickNo()">Aceptar</button>
      </div>
    </div>
    <div>
      <h6><b>Correo:</b><br> <h6 class="color-gris">{{this.personal.email}}</h6></h6>
      <h6><b>Direccion:</b> <br><h6 class="color-gris">{{this.personal.address}}</h6></h6>
      <h6><b>Fecha de nacimiento:</b> <br><h6 class="color-gris">{{this.personal.birthdate}}</h6></h6>
      <h6><b>Genero:</b> <br> <h6 class="color-gris">{{this.personal.gender}}</h6></h6>
      <h6><b>Telefono:</b> <br> <h6 class="color-gris">{{this.personal.phone_number}}</h6></h6>
      <h6><b>Sucursal:</b> <br> <h6 class="color-gris">{{this.personal.branch}}</h6></h6>
      <!-- <h6><b>Grupo:</b> <br> <h6 class="color-gris">{{this.personal.group}}</h6></h6>   -->
    </div>
  </div>