<!-- <mat-card >
    <mat-card-header>
      <mat-card-title-group >
        <mat-card-title>{{this.cliente.first_name}} {{this.cliente.last_name}}</mat-card-title>
        <mat-card-subtitle>cedula: {{this.cliente.dni}}</mat-card-subtitle>  
      </mat-card-title-group>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
    </mat-card-header>
    <mat-card-content>
      <p><b>Correo electronico:</b> {{this.cliente.email}}</p>
      <p><b>Direccion:</b> {{this.cliente.address}}</p>
      <p><b>Fecha de nacimiento:</b> {{this.cliente.birthdate}}</p>
      <p><b>Genero:</b> {{this.cliente.gender}}</p>
      <p><b>Telefono:</b> {{this.cliente.phone_number}}</p>
      <p><b>Activo:</b> {{this.cliente.is_active}}</p>
      <p><b>Grupo:</b> {{this.cliente.group}}</p>
      
      
    </mat-card-content>
  </mat-card> -->

  <div class="contenedor-principal">
    <div class="contenedor-secundario">
    <img  ngIfNoWhitespace style="width: 10rem; height: 8rem; margin-bottom: 0.25rem;" src="../../../../assets/img/iconopersona.png" alt="">
    <img *ngIf="this.cliente.url_img !== null" ngIfNoWhitespace style="width: 10rem; height: 8rem; margin-bottom: 0.25rem; border-radius: 10rem;" [src]="this.cliente.url_img " alt="">
      <div class="contenedor-informacion">
        <h4>
          {{this.cliente.first_name}}<br>{{this.cliente.last_name}}
        </h4>
        <h5 style="color: #959595;">
          {{this.cliente.dni}}
        </h5>
        <h4 *ngIf="this.cliente.is_active" style="color: #34604e;"><b>Activo</b></h4>
        <h4 *ngIf="!this.cliente.is_active" style="color: #c83b44;"><b>No Activo</b></h4>
      </div>
    </div>
    <div>
      <h6><b>Correo:</b><br> <h6 class="color-gris">{{this.cliente.email}}</h6></h6>
      <h6><b>Direccion:</b> <br><h6 class="color-gris">{{this.cliente.address}}</h6></h6>
      <h6><b>Fecha de nacimiento:</b> <br><h6 class="color-gris">{{this.cliente.birthdate}}</h6></h6>
      <h6><b>Genero:</b> <br> <h6 class="color-gris">{{this.cliente.gender}}</h6></h6>
      <h6><b>Telefono:</b> <br> <h6 class="color-gris">{{this.cliente.phone_number}}</h6></h6>
      <h6><b>Grupo:</b> <br> <h6 class="color-gris">{{this.cliente.group}}</h6></h6>  
    </div>
  </div>
